@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: 'Roboto';
}

.separado {
  margin-top: 10px;
}
.datos {
  height: 83%;
  overflow: auto;
  position:fixed;
  width:22%;
}
.utvco{
  color: #a6ce39;
  border-color: #e9ecef #e9ecef #dee2e6;
  background-color: transparent;
}
.header{
/*    margin-bottom: 15px;
    margin-top: 15px;*/

    /*background-color: white;*/

    background-image: url("../images/menu_fondo.png");
    background-size: fixed;
    /* min-width:5%; */

    /*opacity: .7;*/
    /* color: #FFFFFF; */
    /* max-height: 10%; */
    /* border-top: solid 1px; */
    /* border-bottom: #FFFFFF solid 0px; */
    /* border-radius: 0px 0px 0px 0px; */
    /*box-shadow: 50px 50px 50px 50px rgba(0,0,0,.4);*/

}

.hoja-tramite {
  background-color: white;
  border: 1px solid grey;
  box-shadow: 5px 5px 5px #666;
  color: #444;
  height: 279mm;
  margin: 1px auto;
  padding: 15mm 15mm;
  width: 216mm;
}

@media print {

  .oculto-impresion,
  .oculto-impresion * {
    display: none !important;
  }
}

.fondo {
  background-image: url("../images/fondoutv.png");
  /* background-size: 100%; */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #EBEBEB;
  max-height: 100%;
  min-width: 100%;
}
.login_btn{
color: black;
background-color: white;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: #FFC312;
}
.fondo2 {
  background: #1e5574;
}

.theadyo {
  background: #343a40;
  color: #fff;
  padding: 3px;
}

.mdh {
  background: #c8302b;
  color: #fff;
}

.cuerpot {
  background: #fff;
  color: #343a40;
  padding: 2px;
}

.titulos {
  color: #000;
  font-family: 'Roboto';
}

.titulos1 {
  color: #fff;
  font-size: 20px;
  font-family: 'Roboto';
  left: -70%;
  position: absolute;
  top: -50%;
}

.texto-normal {
  font-size: 10pt;
}

.texto-cabecera {
  font-size: 11pt;
}

.tabla-encabezado {
  border: 2px solid grey;
  height: 80px;
  width: 100%;
}
.celda{
  border: 2px solid grey;
}

#codigoqr {
  left: 50%;
  position: absolute;
  top: 50%;
  width: 200px;
}

#qr {
  size: 20000px;
}

@media only screen and (max-width: 700px) {
  .fondo {
    background-image: url("../images/tarjeta.jpeg");
    background-size: 100%;
  }
}
