html{
  height:100%
}
*{
  box-sizing: border-box;
  /*font-family: Ubuntu;*/
  font-family: CenturyGothic;
}
body{
  height:100%;
  background-color:rgba(102, 102, 102, 0.1);
  padding-bottom: 40px;
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px
  font-family: Ubuntu;
}
.principal{

  height: 100%;
}
.peke{
  font-size:0.8em;
}
.con-fondo{
  /*background-image: url(../images/login_trans.png);*/
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: auto;
}
.views{
  min-height: 100%;
}
.ng-cloak{
  display: none !important;
}

.separado{
  margin-top: 10px;
}
.no-padding-top{
  padding-top:0 !important;
  margin-top:0 !important;
}
.uppercase{
  text-transform: uppercase;
}

.x2{
  transform: scale(1.5);
}
.pointer{
  cursor:pointer;
}
.row {
  margin-right: -8px;
  margin-left: -8px;
}
.listar {
  height: 100px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 8px;
  padding-left: 8px;
}

.small{
  font-size:0.8em;
}

.fondo-gris{
  background-color: rgb(230,230,230);
}

.sin-margen{
  margin:0;
}
.bold{
  font-weight: bold;
}
.container.principal{
  margin-top:20px;
}

.titulo-pagina{
  border-bottom:1px solid #aaa;
  font-size:1.7em;
  font-weight: bold;
  color:#571113;
  padding-bottom:10px;
  margin-bottom:10px;
}

.texto-resaltado{
  background: yellow;
  font-weight: bold;
}

.sub-login{
  font-size: 0.8em;
  text-align: right;
  padding-top: 10px;
}

#loading-bar .bar {
  background: #571113;
  height: 5px;
}

.clickable{
  cursor: pointer;
}

/*
███    ███  █████  ██████   ██████  ██ ███    ██ ███████
████  ████ ██   ██ ██   ██ ██       ██ ████   ██ ██
██ ████ ██ ███████ ██████  ██   ███ ██ ██ ██  ██ ███████
██  ██  ██ ██   ██ ██   ██ ██    ██ ██ ██  ██ ██      ██
██      ██ ██   ██ ██   ██  ██████  ██ ██   ████ ███████
*/

.mr5 {
  margin-right: 5px;
}

.mt20{
  margin-top:20px;
}

/*
██       ██████   ██████  ██ ███    ██
██      ██    ██ ██       ██ ████   ██
██      ██    ██ ██   ███ ██ ██ ██  ██
██      ██    ██ ██    ██ ██ ██  ██ ██
███████  ██████   ██████  ██ ██   ████
*/

.form-signin {
  margin: 0 auto;
  max-width: 330px;
  padding: 15px;
}

.form-signin input[type=text]{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type=password]{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top:none;
}

.container.principal{
  margin-top:20px;
}

.titulos{
  border-bottom:1px solid #aaa;
  font-size:1.7em;
  padding-bottom:10px;
  margin-bottom:10px;
}


.pestaña{
  margin-top:5px;
  padding:10px 0;
  min-height: 400px;
  border-top:1px solid #aaa;
  border-bottom: 1px solid #aaa;
}


.angular-google-map-container { height: 400px; }

/*
 █████  ███    ██  ██████  ██    ██ ██       █████  ██████   ██████  ██████  ███    ███ ██████  ██      ███████ ████████ ███████
██   ██ ████   ██ ██       ██    ██ ██      ██   ██ ██   ██ ██      ██    ██ ████  ████ ██   ██ ██      ██         ██    ██
███████ ██ ██  ██ ██   ███ ██    ██ ██      ███████ ██████  ██      ██    ██ ██ ████ ██ ██████  ██      █████      ██    █████
██   ██ ██  ██ ██ ██    ██ ██    ██ ██      ██   ██ ██   ██ ██      ██    ██ ██  ██  ██ ██      ██      ██         ██    ██
██   ██ ██   ████  ██████   ██████  ███████ ██   ██ ██   ██  ██████  ██████  ██      ██ ██      ███████ ███████    ██    ███████
*/

.highlight{
  font-weight: bold;
}
.angucomplete-dropdown{
  width: 100%;
  margin-top: 0px;
  max-height: 350px;
  min-height: 350px;
  overflow: auto;
}


.separado select.ng-invalid {
    border-color: red;
}
.separado select.ng-valid {
    border-color: green;
}
.separado input.ng-invalid {
    border-color: red;
}
.separado input.ng-valid {
    border-color: green;
}


/*
██      ██ ███████ ████████  █████      ██████  ███████ ██████  ███    ███ ██ ███████  ██████  ███████
██      ██ ██         ██    ██   ██     ██   ██ ██      ██   ██ ████  ████ ██ ██      ██    ██ ██
██      ██ ███████    ██    ███████     ██████  █████   ██████  ██ ████ ██ ██ ███████ ██    ██ ███████
██      ██      ██    ██    ██   ██     ██      ██      ██   ██ ██  ██  ██ ██      ██ ██    ██      ██
███████ ██ ███████    ██    ██   ██     ██      ███████ ██   ██ ██      ██ ██ ███████  ██████  ███████
*/

.categoria_permiso{
  cursor:pointer;
}
.lista_permiso{
  padding:5px 5px 5px 20px;
  cursor:pointer;
  border-bottom:1px solid #333;
}
.lista_permiso:last-child{
  border-bottom:none;
}
.lista_permiso .elcheck  {
  width:20px !important;
  transform:scale(1.5);
}
.lista_permisos{
  border:1px solid #666;
  border-radius:4px;
  height: 500px;
  padding:10px;
  overflow: auto;
}
.body_permisos{
  height:500px;
  overflow: auto;
}
.label_permiso{
  width:calc(100% - 25px);
  display:inline-block;
  overflow:hidden;
  height: 18px;
}

.titulo_categoria_permiso{
  background-color:#337ab7;
  padding:5px;
  border-radius:4px;
  color: #eee;
}

.titulo_permisos{
  background-color:#2E9AFE;
  padding:5px;
  border-radius:4px;
  margin-bottom:5px;
  font-weight: bold;
  font-size: 20px;
  color: #212121;
}

.titulo_categoria_permiso.dark{
  background-color:#222;
}

.titulo_permisos.dark{
  background-color:#666;
}

.sin-margen{
  margin:0;
  padding:0;
}

/*
 ██████ ██   ██ ███████  ██████ ██   ██ ██████   ██████  ██   ██
██      ██   ██ ██      ██      ██  ██  ██   ██ ██    ██  ██ ██
██      ███████ █████   ██      █████   ██████  ██    ██   ███
██      ██   ██ ██      ██      ██  ██  ██   ██ ██    ██  ██ ██
 ██████ ██   ██ ███████  ██████ ██   ██ ██████   ██████  ██   ██
*/
.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}
/*
██ ███    ███  █████   ██████  ███████ ███    ██     ██████  ██████   ██████  ██████  ██    ██  ██████ ████████  ██████
██ ████  ████ ██   ██ ██       ██      ████   ██     ██   ██ ██   ██ ██    ██ ██   ██ ██    ██ ██         ██    ██    ██
██ ██ ████ ██ ███████ ██   ███ █████   ██ ██  ██     ██████  ██████  ██    ██ ██   ██ ██    ██ ██         ██    ██    ██
██ ██  ██  ██ ██   ██ ██    ██ ██      ██  ██ ██     ██      ██   ██ ██    ██ ██   ██ ██    ██ ██         ██    ██    ██
██ ██      ██ ██   ██  ██████  ███████ ██   ████     ██      ██   ██  ██████  ██████   ██████   ██████    ██     ██████
*/


.imagen-producto {
    border: 1px solid #ddd;
    padding: 5px;
    width: 200px;
    height: 120px
}
.imagen-busqueda-producto {
  border: 1px solid #ddd;
  width: 150px;
  height: 80px
}

/*
 ██████  █████       ██  █████  ███████
██      ██   ██      ██ ██   ██ ██
██      ███████      ██ ███████ ███████
██      ██   ██ ██   ██ ██   ██      ██
 ██████ ██   ██  █████  ██   ██ ███████
*/


.view-port{
  min-height: 400px;
  overflow: auto;
}

.dato-caja{
  font-size:2em;
  line-height: 1.2em;
}

.compra-container{
  min-height: 470px;
  max-height: 470px;
  border:1px solid #ccc;
  padding:10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.compra-container ul{
  height: 420px;
  overflow: auto;
  margin-bottom: 5px;
}

.total-container{
  text-align: right;
    font-size: 1.8em;
    font-weight: bold;
    height: 35px;
}

.cantidadEditable{
  display:inline-block;
  width: 100%;
  padding: 3px 0 0 0;
  text-align: center;
  font-size: 0.9em;
  border: 1px solid #aaa !important;
}

.titHead{
  font-size:1.3em;
  font-weight: bold;
}
.checkbox{
  height: 23px;
  width: 40px;
}

/*
██████  ██████  ██ ███    ██ ████████
██   ██ ██   ██ ██ ████   ██    ██
██████  ██████  ██ ██ ██  ██    ██
██      ██   ██ ██ ██  ██ ██    ██
██      ██   ██ ██ ██   ████    ██
*/


#framePrint{
  width: 100%;
  height: 450px;
  border:1px solid #666;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/*
████████ ██████   █████  ███    ███ ██ ████████ ███████ ███████
   ██    ██   ██ ██   ██ ████  ████ ██    ██    ██      ██
   ██    ██████  ███████ ██ ████ ██ ██    ██    █████   ███████
   ██    ██   ██ ██   ██ ██  ██  ██ ██    ██    ██           ██
   ██    ██   ██ ██   ██ ██      ██ ██    ██    ███████ ███████
*/
.seccion-info-derecha{
  border: 1px solid #000;
  padding:10px;
  width:280px;
  float:right;
  font-size:0.75em;
  margin-bottom:30px;
}
.seccion-info-caja{
  border: 1px solid #000;
  padding:10px;
  width:350px;
  font-size:1em;
}

.seccion-info-izquierda{
  width:280px;
  float:left;
}

.seccion-datos-derecha label {
  width: 390px;
}

.tabular {
  padding-left: 1cm;
}

.tramite-presente{
  font-weight: bold;
  text-transform: uppercase;
  clear:both;
  margin-bottom:30px;
}
.titulo-tramite{
  font-size: 26px;
  border-bottom:1px solid #666;
  padding-bottom: 5px;
}

.white {
  color: #FFF;
}

/*
██████  ███████ ███████ ███████ ███    ███ ██████  ███████ ███    ██ ██  ██████      ████████ ██████   █████  ███    ███ ██ ████████ ███████
██   ██ ██      ██      ██      ████  ████ ██   ██ ██      ████   ██ ██ ██    ██        ██    ██   ██ ██   ██ ████  ████ ██    ██    ██
██   ██ █████   ███████ █████   ██ ████ ██ ██████  █████   ██ ██  ██ ██ ██    ██        ██    ██████  ███████ ██ ████ ██ ██    ██    █████
██   ██ ██           ██ ██      ██  ██  ██ ██      ██      ██  ██ ██ ██ ██    ██        ██    ██   ██ ██   ██ ██  ██  ██ ██    ██    ██
██████  ███████ ███████ ███████ ██      ██ ██      ███████ ██   ████ ██  ██████         ██    ██   ██ ██   ██ ██      ██ ██    ██    ███████
*/

.timeline,
.timeline-horizontal {
  list-style: none;
  padding: 20px;
  position: relative;
}
.timeline:before {
  top: 40px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline .timeline-item {
  margin-bottom: 20px;
  position: relative;
}
.timeline .timeline-item:before,
.timeline .timeline-item:after {
  content: "";
  display: table;
}
.timeline .timeline-item:after {
  clear: both;
}
.timeline .timeline-item .timeline-badge {
  color: #fff;
  width: 54px;
  height: 54px;
  line-height: 52px;
  font-size: 22px;
  text-align: center;
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -25px;
  background-color: #7c7c7c;
  border: 3px solid #ffffff;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline .timeline-item .timeline-badge i,
.timeline .timeline-item .timeline-badge .fa,
.timeline .timeline-item .timeline-badge .glyphicon {
  top: 2px;
  left: 0px;
}
.timeline .timeline-item .timeline-badge.primary {
  background-color: #1f9eba;
}
.timeline .timeline-item .timeline-badge.info {
  background-color: #5bc0de;
}
.timeline .timeline-item .timeline-badge.success {
  background-color: #59ba1f;
}
.timeline .timeline-item .timeline-badge.warning {
  background-color: #d1bd10;
}
.timeline .timeline-item .timeline-badge.danger {
  background-color: #ba1f1f;
}
.timeline .timeline-item .timeline-panel {
  position: relative;
  width: 46%;
  float: left;
  right: 16px;
  border: 1px solid #c0c0c0;
  background: #ffffff;
  border-radius: 2px;
  padding: 20px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline .timeline-item .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -16px;
  display: inline-block;
  border-top: 16px solid transparent;
  border-left: 16px solid #c0c0c0;
  border-right: 0 solid #c0c0c0;
  border-bottom: 16px solid transparent;
  content: " ";
}
.timeline .timeline-item .timeline-panel .timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-item .timeline-panel .timeline-body > p,
.timeline .timeline-item .timeline-panel .timeline-body > ul {
  margin-bottom: 0;
}
.timeline .timeline-item .timeline-panel .timeline-body > p + p {
  margin-top: 5px;
}
.timeline .timeline-item:last-child:nth-child(even) {
  float: right;
}
.timeline .timeline-item:nth-child(even) .timeline-panel {
  float: right;
  left: 16px;
}
.timeline .timeline-item:nth-child(even) .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-horizontal {
  list-style: none;
  position: relative;
  padding: 40px 0px 0px 0px;
  display: inline-block;
}
.timeline-horizontal:before {
  height: 3px;
  top: auto;
  bottom: 26px;
  left: 56px;
  right: 0;
  width: 100%;
  margin-bottom: 20px;
}
.timeline-horizontal .timeline-item {
  display: table-cell;
  height: 210px;
  width: 20%;
  min-width: 180px;
  float: none !important;
  padding-left: 0px;
  padding-right: 20px;
  margin: 0 auto;
  vertical-align: bottom;
}
.timeline-horizontal .timeline-item .timeline-panel {
  top: auto;
  bottom: 50px;
  display: inline-block;
  float: none !important;
  left: 0 !important;
  right: 0 !important;
  width: 100%;
  margin-bottom: 20px;
}
.timeline-horizontal .timeline-item .timeline-panel:before {
  top: auto;
  bottom: -16px;
  left: 28px !important;
  right: auto;
  border-right: 16px solid transparent !important;
  border-top: 16px solid #c0c0c0 !important;
  border-bottom: 0 solid #c0c0c0 !important;
  border-left: 16px solid transparent !important;
}
.timeline-horizontal .timeline-item:before,
.timeline-horizontal .timeline-item:after {
  display: none;
}
.timeline-horizontal .timeline-item .timeline-badge {
  top: auto;
  bottom: 0px;
  left: 43px;
}




/*
███    ███  ██████  ██████   █████  ██      ██████  ███████ ██████  ███████  ██████  ███    ██  █████
████  ████ ██    ██ ██   ██ ██   ██ ██      ██   ██ ██      ██   ██ ██      ██    ██ ████   ██ ██   ██
██ ████ ██ ██    ██ ██   ██ ███████ ██      ██████  █████   ██████  ███████ ██    ██ ██ ██  ██ ███████
██  ██  ██ ██    ██ ██   ██ ██   ██ ██      ██      ██      ██   ██      ██ ██    ██ ██  ██ ██ ██   ██
██      ██  ██████  ██████  ██   ██ ███████ ██      ███████ ██   ██ ███████  ██████  ██   ████ ██   ██
*/

#modalPersona .modal-dialog .modal-content .modal-body{
  min-height: 400px;
}


/*
████████ ██████   █████  ███    ███ ██ ████████ ███████ ███████
   ██    ██   ██ ██   ██ ████  ████ ██    ██    ██      ██
   ██    ██████  ███████ ██ ████ ██ ██    ██    █████   ███████
   ██    ██   ██ ██   ██ ██  ██  ██ ██    ██    ██           ██
   ██    ██   ██ ██   ██ ██      ██ ██    ██    ███████ ███████
*/

.hoja-tramite{
  margin:30px auto;
  width:900px;
  height:1100px auto;
  padding:60px 80px;
  background-color:white;
  color:#444;
  border: 1px solid #000;
  box-shadow: 5px 5px 5px #666;
}


.modal-xl {
  width: 1100px;
}
/*
.multbg-top-to-bottom-transparent {
  border: 3px solid #fff;
  border-image-source: linear-gradient(#3fadb6, transparent, #fff);
  border-image-slice: 3;

  padding:10px;
  overflow: auto;
  overflow-x: hidden;
  margin-bottom:30px;
  min-height: 500px;
}
*/
.padding20{
  padding:20px;
}


.link{
  text-decoration: underline;
  cursor:pointer;
}

/*
 ██████  █████       ██  █████
██      ██   ██      ██ ██   ██
██      ███████      ██ ███████
██      ██   ██ ██   ██ ██   ██
 ██████ ██   ██  █████  ██   ██
*/

.dato-caja{
  font-size:1.1em;
  line-height: 1.2em;
  border-bottom: 1px dashed #aaa;
  padding:5px;
}
.numerico{
  text-align: right;
}
.total-container{
  text-align: right;
    font-size: 1.8em;
    font-weight: bold;
    height: 35px;
}
.input-denominacion{
    text-align: right;
    width: 20%;
}

.label-denominaciones{
  min-width: 100px;
}

/*
██████  ██████  ███████ ██████  ██  █████  ██
██   ██ ██   ██ ██      ██   ██ ██ ██   ██ ██
██████  ██████  █████   ██   ██ ██ ███████ ██
██      ██   ██ ██      ██   ██ ██ ██   ██ ██
██      ██   ██ ███████ ██████  ██ ██   ██ ███████
*/

.separarcolumna {
  margin-left: 45px;
}
.separarcolumnatotal {
  margin-left: 54px;
}
.separarcolumnacambio {
  margin-left: 482px;
}
.separarcolumnaref {
  margin-left: 37px;
}
.espaciocolumna {
  margin-right: 5px;
}

.label-porcentajepredial {
    min-width: 185px;
    text-align: left;
}
