<nav class="navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#/"><img src="images/logoutvco_mp.png" height="50"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" ng-show="main.usuario.tipo===1">
        <a class="nav-link" href="#/usuarios"><i class="fas fa-users"></i> Usuarios</a>
      </li>
      <li class="nav-item" ng-show="main.usuario.tipo===1">
        <a class="nav-link" href="#/carreras"><i class="far fa-address-card"></i> Carreras</a>
      </li>
      <li class="nav-item" ng-show="main.usuario.tipo===1">
        <a class="nav-link" href="#/areas"><i class="fas fa-expand-arrows-alt"></i> Áreas</a>
      </li>
      <li class="nav-item" ng-show="main.usuario.tipo===1">
        <a class="nav-link" href="#/grupos"><i class="fas fa-th"></i> Grupos</a>
      </li>
      <li class="nav-item " ng-show="main.usuario.tipo===4">
        <a class="nav-link" href="#/alumnos"><i class="fas fa-child"></i> Alumnos</a>
      </li>
      <li class="nav-item" ng-show="main.usuario.tipo===4">
        <a class="nav-link" href="#/formatos"><i class="fas fa-book"></i> Formatos</a>
      </li>
      <li class="nav-item dropdown"  ng-show="main.usuario.tipo===2 || main.usuario.tipo===3">
        <div class="dropdown">
          <button class="btn btn-outline-success dropdown-toggle" type="button" id="formatosDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-book"></i> Formatos
          </button>
          <div class="dropdown-menu" aria-labelledby="formatosDropdown">
            <a class="dropdown-item" href="#/detu" ng-show="main.usuario.tipo===3 || main.usuario.tipo===2">Designación de Tutor</a>
            <a class="dropdown-item" href="#/patg" ng-show="main.usuario.tipo===3 || main.usuario.tipo===2">Plan de Acción Tutorial Grupal</a>
            <a class="dropdown-item" href="#/povi" ng-show="main.usuario.tipo===3 || main.usuario.tipo===2">Programa de Visitas</a>
            <a class="dropdown-item" href="#/idat" ng-show="main.usuario.tipo===3 || main.usuario.tipo===2">Instrumento de Autoevaluación</a>
          </div>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" ng-show="main.usuario.id_usuario">
      <li class="nav-item dropdown">
        <div class="dropdown">
          <button class="btn btn-outline-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{main.usuario.nombreCompleto}}
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" ng-click="quitaUsuario()"><i class="fas fa-power-off"></i> Cerrar Sesión</a>
          </div>
        </div>
      </li>
    </ul>
    <a class="btn btn-outline-warning my-2 my-sm-0 animated bounce" ng-show="!main.usuario.id_usuario" href="#/login"> Ingresar</a>
  </div>
</nav>
