<div class="container">
  <div class="row separado">
      <h4 class="titulos">Carreras
        <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#modalCarrera" ng-click="editarCarrera()">
          <i class="fas fa-plus"></i>
        </button>
      </h4>
  </div>
  <div class="row separado">
    <div class="col-xs-12 col-md-12 table-responsive">
      <table class="table table-striped table-hover table-condensed mayusculas">
        <thead><tr align="center" ng-click="ordenado='carrera'"><th>Carrera</th><th></th></tr></thead>
        <tbody>
          <tr align="center" ng-repeat="p in carreras | orderBy:ordenado | startFromGrid: cpCar * psCar | limitTo: psCar">
            <td width="90%">{{p.carrera}}</td>
            <td>
              <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#modalCarrera" ng-click="editarCarrera(p)">
                <i class="fas fa-pen"></i>
              </button>
              <button type="button" class="btn btn-xs btn-danger" ng-click="eliminarCarrera(p)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
      <div class='btn-group'>
        <button type='button' class='btn btn-default' ng-disabled='cpCar == 0' ng-click='cpCar = cpCar - 1'>&laquo;</button>
        <button type='button' class='btn btn-default' ng-disabled='cpCar == page.no - 1' ng-click='setPageCar(page.no)' ng-repeat='page in pCar'>{{page.no}}</button>
        <button type='button' class='btn btn-default' ng-disabled='cpCar >= carreras.length/psCar - 1' , ng-click='cpCar = cpCar + 1'>&raquo;</button>
      </div>
  </div>
</div>
<!--
███    ███  ██████  ██████   █████  ██
████  ████ ██    ██ ██   ██ ██   ██ ██
██ ████ ██ ██    ██ ██   ██ ███████ ██
██  ██  ██ ██    ██ ██   ██ ██   ██ ██
██      ██  ██████  ██████  ██   ██ ███████
-->
<div class="modal fade" tabindex="-1" role="dialog" id="modalCarrera">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header mdh">
        <h5 class="modal-title">Datos de la Carrera</h5>
        <p>Los campos en negritas son obligatorios</p>
      </div>
      <form name="formCarrera">
        <div class="modal-body">
          <div class="input-group">
            <span class="input-group-addon">Nombre: </span>
            <input type="text" class="form-control" ng-model="carrera.carrera" required onkeypress="return soloLetras(event)">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="declaraCarrera()">Cerrar</button>
          <button class="btn btn-primary" data-dismiss="modal" ng-click="guardarCarrera()" ng-disabled="!formCarrera.$valid">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalArea">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header mdh">
        <h5 class="modal-title">Datos del Area</h5>
        <p>Los campos marcados con * son obligatorios</p>
      </div>
      <form name="formArea">
        <div class="modal-body">
          <div class="input-group">
            <span class="input-group-addon">Nombre: </span>
            <input type="text" class="form-control" ng-model="area.area" required>
          </div><br>
          <div class="input-group">
            <span class="input-group-addon">Carrera: </span>
            <select class="form-control" ng-model="area.carrera" ng-options="car as car.carrera for car in carreras track by car.id_carrera">
              <option value="">-Elige una Carrera-</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="declaraArea()">Cerrar</button>
          <button class="btn btn-primary" data-dismiss="modal" ng-click="guardarArea()" ng-disabled="!formArea.$valid">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalGrupo">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header mdh">
        <h5 class="modal-title">Datos del Grupo</h5>
        <p>Los campos marcados con * son obligatorios</p>
      </div>
      <form name="formGrupo">
        <div class="modal-body">
          <div class="input-group">
            <span class="input-group-addon">Nombre: </span>
            <input type="text" class="form-control" ng-model="grupo.grupo" required>
          </div><br>
          <div class="input-group">
            <span class="input-group-addon">Carrera: </span>
            <select class="form-control" ng-model="grupo.carrera" ng-options="car as car.carrera for car in carreras track by car.id_carrera">
              <option value="">-Elige una Carrera-</option>
            </select>
          </div><br>
          <div class="input-group">
            <span class="input-group-addon">Área: </span>
            <select class="form-control" ng-model="grupo.area" ng-options="car as car.area for car in areas track by car.id_area">
              <option value="">-Elige un Área-</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="declaraGrupo()">Cerrar</button>
          <button class="btn btn-primary" data-dismiss="modal" ng-click="guardarGrupo()" ng-disabled="!formGrupo.$valid">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
