<div class="container">
  <div class="row separado">
      <h4 class="titulos">Grupos
        <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#modalGrupo" ng-click="editarGrupo()">
          <i class="fas fa-plus"></i>
        </button>
      </h4>
  </div>
  <div class="row separado">
    <div class="col-xs-12 col-md-12 table-responsive">
      <table class="table table-striped table-hover table-condensed mayusculas">
        <thead><tr align="center"><th ng-click="ordenado='grupo'">Grupo</th><th ng-click="ordenado='carrera'">Carrera</th><th>Área</th><th></th></tr></thead>
        <tbody>
          <tr align="center" ng-repeat="p in grupos | orderBy:ordenado | startFromGrid: cpGpo * psGpo | limitTo: psGpo">
            <td>{{p.grupo}}</td>
            <td>{{p.id_carrera|nombreCarrera:carreras}}</td>
            <td>{{p.id_area|nombreArea:areas}}</td>
            <td>
              <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#modalGrupo" ng-click="editarGrupo(p)">
                <i class="fas fa-pen"></i>
              </button>
              <button type="button" class="btn btn-xs btn-danger" ng-click="eliminarGrupo(p)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
      <div class='btn-group'>
        <button type='button' class='btn btn-default' ng-disabled='cpGpo == 0' ng-click='cpGpo = cpGpo - 1'>&laquo;</button>
        <button type='button' class='btn btn-default' ng-disabled='cpGpo == page.no - 1' ng-click='setPageGpo(page.no)' ng-repeat='page in pGpo'>{{page.no}}</button>
        <button type='button' class='btn btn-default' ng-disabled='cpGpo >= grupos.length/psGpo - 1' , ng-click='cpGpo = cpGpo + 1'>&raquo;</button>
      </div>
  </div>
</div>
<!--
███    ███  ██████  ██████   █████  ██
████  ████ ██    ██ ██   ██ ██   ██ ██
██ ████ ██ ██    ██ ██   ██ ███████ ██
██  ██  ██ ██    ██ ██   ██ ██   ██ ██
██      ██  ██████  ██████  ██   ██ ███████
-->
<div class="modal fade" tabindex="-1" role="dialog" id="modalGrupo">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header mdh">
        <h5 class="modal-title">Datos del Grupo</h5><p>Los campos en negritas son obligatorios</p>
      </div>
      <form name="formGrupo">
        <div class="modal-body">
          <div class="input-group">
            <span class="input-group-addon">Nombre: </span>
            <input type="text" class="form-control" ng-model="grupo.grupo" required onkeypress="return soloLetras(event)">
          </div><br>
          <div class="input-group">
            <span class="input-group-addon">Carrera: </span>
            <select class="form-control" ng-model="grupo.carrera" ng-options="car as car.carrera for car in carreras track by car.id_carrera">
              <option value="">-Elige una Carrera-</option>
            </select>
          </div><br>
          <div class="input-group">
            <span class="input-group-addon">Área: </span>
            <select class="form-control" ng-model="grupo.area" ng-options="car as car.area for car in areas track by car.id_area">
              <option value="">-Elige un Área-</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="declaraGrupo()">Cerrar</button>
          <button class="btn btn-primary" data-dismiss="modal" ng-click="guardarGrupo()" ng-disabled="!formGrupo.$valid">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
