<div class="container" ng-show="main.usuario.tipo===4 && formato===''">
  <div class="row separado">
    <table class="table">
      <thead>
        <th> Formato </th>
        <th> Estatus</th>
      </thead>
      <tbody>
        <tr>
          <td>Plan de Acción Tutorial Grupal</td>
          <td>
            <button class="btn btn-sm btn-warning" title="Crear" ng-click="iniciaFormato('patg')" ng-show="patg.estatus===0">
              <i class="fas fa-plus"></i>
            </button>
            <button class="btn btn-sm btn-default" title="Editar" ng-click="visualizaFormato('patg')" ng-show="patg.estatus===-1">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-sm btn-info" title="En Revisión" ng-click="visualizaFormato('patg')" ng-show="patg.estatus===1 || patg.estatus===2">
              <i class="fas fa-clock"></i>
            </button>
            <button class="btn btn-sm btn-success" title="Aprobado" ng-click="visualizaFormato('patg')" ng-show="patg.estatus===3">
              <i class="fas fa-check"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td>Programa de Visitas</td>
          <td>
            <button class="btn btn-sm btn-warning" title="Crear" ng-click="iniciaFormato('povi')" ng-show="povi.estatus===0">
              <i class="fas fa-plus"></i>
            </button>
            <button class="btn btn-sm btn-default" title="Editar" ng-click="visualizaFormato('povi')" ng-show="povi.estatus===-1">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-sm btn-info" title="En Revisión" ng-click="visualizaFormato('povi')" ng-show="povi.estatus===1 || povi.estatus===2">
              <i class="fas fa-clock"></i>
            </button>
            <button class="btn btn-sm btn-success" title="Aprobado" ng-click="visualizaFormato('povi')" ng-show="povi.estatus===3">
              <i class="fas fa-check"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td>Instrumento de Autoevaluación Dirigido a Tutores y Tutoras</td>
          <td>
            <button class="btn btn-sm btn-warning" title="Crear" ng-click="iniciaFormato('idat')" ng-show="idat.estatus===0">
              <i class="fas fa-plus"></i>
            </button>
            <button class="btn btn-sm btn-default" title="Editar" ng-click="visualizaFormato('idat')" ng-show="idat.estatus===-1">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-sm btn-info" title="En Revisión" ng-click="visualizaFormato('idat')" ng-show="idat.estatus===1 || idat.estatus===2">
              <i class="fas fa-clock"></i>
            </button>
            <button class="btn btn-sm btn-success" title="Aprobado" ng-click="visualizaFormato('idat')" ng-show="idat.estatus===3">
              <i class="fas fa-check"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--
██████   █████  ████████  ██████
██   ██ ██   ██    ██    ██
██████  ███████    ██    ██   ███
██      ██   ██    ██    ██    ██
██      ██   ██    ██     ██████
-->
<div class="container" ng-show="main.usuario.tipo===4 && formato==='patg'">
  <div class="row separado">
    <div class="col-xs-12 col-md-12">
      <h4 class="titulos">Plan de Acción Tutorial Grupal
        <button type="button" class="btn btn-sm btn-warning" ng-click="resetea()">
          <i class="fas fa-angle-double-left"></i>
        </button>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 order-md-2 hoja-tramite">
      <patg-directiva datos="patg"></patg-directiva>
    </div>
    <div class="col-md-4 order-md-1 mb-4">
      <div class="datos">
        <ul class="list-group mb-4" ng-show="patg.estatus<=0 && main.usuario.tipo===4">
          <li class="list-group-item  justify-content-between lh-condensed">
            <div>
              <button type="button" class="btn" ng-class="{'active btn-primary': pestana==='generales', 'btn-default': pestana!=='generales','btn-info':formPATG.$valid}" ng-click="pestana='generales'">
                Generales
              </button>
              <button type="button" class="btn" ng-class="{'active btn-primary': pestana==='actividades', 'btn-default': pestana!=='actividades','btn-info':patg.actividades.length>0}" ng-click="pestana='actividades'">
                Actividades
              </button>
            </div>
          </li>
          <li class="list-group-item justify-content-between lh-condensed">
            <form name="formPATG" class="needs-validation" novalidate>
              <div ng-show="pestana==='generales'">
                <div>
                  <span>Cuatrimestre: </span>
                  <select class="form-control" ng-model="patg.cuatrimestre" required>
                    <option value="" disabled>-Elige un Cuatrimestre-</option>
                    <option value="Primero">Primero</option>
                    <option value="Segundo">Segundo</option>
                    <option value="Tercero">Tercero</option>
                    <option value="Cuarto">Cuarto</option>
                    <option value="Quinto">Quinto</option>
                    <option value="Sexto">Sexto</option>
                    <option value="Séptimo">Séptimo</option>
                    <option value="Octavo">Octavo</option>
                    <option value="Noveno">Noveno</option>
                    <option value="Décimo">Décimo</option>
                    <option value="Onceavo">Onceavo</option>
                  </select>
                </div>
                <div>
                  <span>Horas a la Semana: </span>
                  <input type="text" class="form-control" ng-model="patg.horasSemana" required onkeyup="this.value=Numeros(this.value)">
                </div>
                <div>
                  <span>Horas por Parcial: </span>
                  <input type="text" class="form-control" ng-model="patg.horasParcial" required onkeyup="this.value=Numeros(this.value)">
                </div>
                <div>
                  <span>Objetivo de Tutorias:</span>
                  <input type="text" class="form-control" ng-model="patg.objetivo" required onkeypress="return soloLetras(event)">
                </div>
              </div>
            </form>
            <div ng-show="pestana==='actividades'">
              <span ng-repeat="lot in patg.actividades">
                <span class="btn btn-info btm-sm" ng-click="editarAct(lot)" ng-show="patg.actividades">Actividad {{$index + 1}}</span>
              </span>
              <actividad-directiva act="actividad"></actividad-directiva>
              <br><button type="button" class="btn btn-default btn-sm" ng-click="reseteaAct()">Nueva</button>
              <button type="button" class="btn btn-info btn-sm" ng-click="editarAct()">{{textoBtn}}</button>
              <button type="button" class="btn btn-danger btn-sm" ng-click="eliminaAct()" ng-show="muestraEliminar">Eliminar</button>
            </div>
          </li>
        </ul>
        <div class="input-group" ng-show="patg.estatus<=0 || patg.estatus>=3">
          <button class="btn btn-primary" ng-click="guardaFormato('patg')" ng-disabled="!formPATG.$valid || patg.actividades.length<=0" ng-show="main.usuario.tipo===4 && patg.estatus<=0">
            Enviar a Revisión
          </button>
          <button class="btn btn-info" ng-click="verComentarios('patg')" ng-show="main.usuario.tipo===4 && patg.estatus<0">
            Ver Sugerencias
          </button>
          <button class="btn btn-default" ng-click="imprimir('patg')" ng-show="patg.estatus===3 && main.usuario.tipo===4">
            <i class="fas fa-print"></i>Imprimir
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
██████   ██████  ██    ██ ██
██   ██ ██    ██ ██    ██ ██
██████  ██    ██ ██    ██ ██
██      ██    ██  ██  ██  ██
██       ██████    ████   ██
-->
<div class="container" ng-show="main.usuario.tipo===4 && formato==='povi'">
  <div class="row separado">
    <div class="col-xs-12 col-md-12">
      <h4 class="titulos">Programa de Visitas
        <button type="button" class="btn btn-sm btn-warning" ng-click="resetea()">
          <i class="fas fa-angle-double-left"></i>
        </button>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 order-md-2 hoja-tramite">
      <povi-directiva datos="povi"></povi-directiva>
    </div>
    <div class="col-md-4 order-md-1 mb-4">
      <div class="datos">
        <ul class="list-group mb-4" ng-show="povi.estatus<=0 && main.usuario.tipo===4">
          <li class="list-group-item  justify-content-between lh-condensed">
            <div>
              <button type="button" class="btn" ng-class="{'active btn-primary': pestana=='generales', 'btn-default': pestana!='generales','btn-info':formPOVI.$valid}" ng-click="pestana='generales'">
                Generales
              </button>
              <button type="button" class="btn" ng-class="{'active btn-primary': pestana=='visitas', 'btn-default': pestana!='visitas','btn-info':povi.visitas.length>0}" ng-click="pestana='visitas'">
                Visitas
              </button>
            </div>
          </li>
          <li class="list-group-item  justify-content-between lh-condensed">
            <form name="formPOVI" class="needs-validation" novalidate>
              <div ng-show="pestana=='generales'">
                <span> Número de Alumnos: </span>
                <input type="number" class="form-control" ng-model="povi.numAlumnos" min="0" max="168" required>
              </div>
            </form>
            <div ng-show="pestana==='visitas'">
              <span ng-repeat="lot in povi.visitas">
                <span class="btn btn-info btm-sm" ng-click="editarVisita(lot)" ng-show="povi.visitas">Visita {{$index + 1}}</span>
              </span>
              <visita-directiva act="visita"></visita-directiva>
              <br><button type="button" class="btn btn-default btn-sm" ng-click="reseteaVisita()">Nueva</button>
              <button type="button" class="btn btn-info btn-sm" ng-click="editarVisita()">{{textoBtn}}</button>
              <button type="button" class="btn btn-danger btn-sm" ng-click="eliminaVisita()" ng-show="muestraEliminar">Eliminar</button>
            </div>
          </li>
        </ul>
        <div class="input-group">
          <button class="btn btn-primary" ng-disabled="!formPOVI.$valid || povi.visitas.length<=0" ng-click="guardaFormato('povi')" ng-show="main.usuario.tipo===4 && povi.estatus<=0">
            Enviar a Revisión
          </button>
          <button class="btn btn-info" ng-click="verComentarios('povi')" ng-show="main.usuario.tipo===4 && povi.estatus<0">
            Ver Sugerencias
          </button>
          <button class="btn btn-default" ng-click="imprimir('povi')" ng-show="povi.estatus===3 && main.usuario.tipo===4">
            <i class="fas fa-print"></i>Imprimir
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
██ ██████   █████  ████████
██ ██   ██ ██   ██    ██
██ ██   ██ ███████    ██
██ ██   ██ ██   ██    ██
██ ██████  ██   ██    ██
-->
<div class="container" ng-show="main.usuario.tipo===4 && formato==='idat'">
  <div class="row separado">
    <div class="col-xs-12 col-md-12">
      <h4 class="titulos">Instrumento de Autoevaluación Dirigido a Tutores y Tutoras
        <button type="button" class="btn btn-sm btn-warning" ng-click="resetea()">
          <i class="fas fa-angle-double-left"></i>
        </button>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 order-md-2">
      <div class="hoja-tramite">
        <idat-directiva datos="idat"></idat-directiva>
      </div>
      <div class="hoja-tramite">
        <idat2-directiva datos="idat"></idat2-directiva>
      </div>
    </div>
    <div class="col-md-4 order-md-1 mb-4">
      <div class="datos">
        <ul class="list-group mb-4" ng-show="idat.estatus<=0 && main.usuario.tipo===4">
          <li class="list-group-item  justify-content-between lh-condensed">
            <div>
              <button type="button" class="btn btn-block" ng-class="{'active btn-primary': pestana==='generales', 'btn-default': pestana!='generales','btn-info':form1.$valid}" ng-click="pestana='generales'">
                Puntualidad y Asistencia
              </button>
              <button type="button" class="btn btn-block" ng-class="{'active btn-primary': pestana==='institucionales', 'btn-default': pestana!='institucionales','btn-info':form2.$valid}" ng-click="pestana='institucionales'">
                Documentos Institucionales
              </button>
              <button type="button" class="btn btn-block" ng-class="{'active btn-primary': pestana==='funciones', 'btn-default': pestana!='funciones','btn-info':form3.$valid}" ng-click="pestana='funciones'">
                Funciones en la Acción Tutorial
              </button>
              <button type="button" class="btn btn-block" ng-class="{'active btn-primary': pestana==='seguimiento', 'btn-default': pestana!='seguimiento','btn-info':form4.$valid}" ng-click="pestana='seguimiento'">
                Planeación y Seguimiento
              </button>
              <button type="button" class="btn btn-block" ng-class="{'active btn-primary': pestana==='capacitacion', 'btn-default': pestana!='capacitacion','btn-info':form5.$valid}" ng-click="pestana='capacitacion'">
                Capacitación
              </button>
            </div>
          </li>
          <li class="list-group-item  justify-content-between lh-condensed">
            <form name="form1" class="needs-validation" novalidate>
              <div ng-show="pestana==='generales'">
                <div>
                  <span> ¿Asistí puntualmente a las sesiones de tutoría? </span>
                  <select class="form-control" ng-model="idat.preguntas[0].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[0].comentarios" onkeypress="return soloLetras(event)">
                </div>
                <hr>
                <div>
                  <span> ¿Respeté los horarios asignados a la tutoría? </span>
                  <select class="form-control" ng-model="idat.preguntas[1].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[1].comentarios" onkeypress="return soloLetras(event)">
                </div>
                <hr>
                <div>
                  <span> ¿Las y los tutorados me podrían localizar facilmente? </span>
                  <select class="form-control" ng-model="idat.preguntas[2].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[2].comentarios" onkeypress="return soloLetras(event)">
                </div>
              </div>
            </form>
            <form name="form2" class="needs-validation" novalidate>
              <div ng-show="pestana==='institucionales'">
                <div>
                  <span> ¿Conozco cómo funciona el Modelo Académico de las UUTT? </span>
                  <select class="form-control" ng-model="idat.preguntas[3].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[3].comentarios" onkeypress="return soloLetras(event)">
                </div>
                <hr>
                <div>
                  <span> ¿Conozco los reglamentos vigentes de la UTVCO? </span>
                  <select class="form-control" ng-model="idat.preguntas[4].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[4].comentarios" onkeypress="return soloLetras(event)">
                </div>
              </div>
            </form>
            <form name="form3" class="needs-validation" novalidate>
              <div ng-show="pestana==='funciones'">
                <div>
                  <span> Tengo suficiente claridad respecto de las características de la acción tutorial y de sus estrategias: </span>
                  <select class="form-control" ng-model="idat.preguntas[5].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[5].comentarios" onkeypress="return soloLetras(event)">
                </div>
                <hr>
                <div>
                  <span> Me cuesta trabajo abordar ciertos problemas con los y las estudiantes: sexualidad, adicciones, violencia, etc.: </span>
                  <select class="form-control" ng-model="idat.preguntas[6].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[6].comentarios" onkeypress="return soloLetras(event)">
                </div>
                <hr>
                <div>
                  <span> Canalicé adecuadamente a los tutorados que presentaban problemas académicos o personales que yo no podía resolver: </span>
                  <select class="form-control" ng-model="idat.preguntas[7].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[7].comentarios" onkeypress="return soloLetras(event)">
                </div>
                <hr>
                <div>
                  <span> Escuché a las y los tutorados y generé un clima de confianza: </span>
                  <select class="form-control" ng-model="idat.preguntas[8].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[8].comentarios" onkeypress="return soloLetras(event)">
                </div>
                <hr>
                <div>
                  <span> Fui empático a las consultas que me hicieron mis tutorados: </span>
                  <select class="form-control" ng-model="idat.preguntas[9].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[9].comentarios" onkeypress="return soloLetras(event)">
                </div>
                <hr>
                <div>
                  <span> Motivé la asistencia a las sesiones de tutoría: </span>
                  <select class="form-control" ng-model="idat.preguntas[10].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[10].comentarios" onkeypress="return soloLetras(event)">
                </div>
                <hr>
                <div>
                  <span> Realicé actividades de tutoría interesantes para el tutorado: </span>
                  <select class="form-control" ng-model="idat.preguntas[11].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[11].comentarios" onkeypress="return soloLetras(event)">
                </div>
                <hr>
                <div>
                  <span> Apoyé a mis tutorados a definir metas personales: </span>
                  <select class="form-control" ng-model="idat.preguntas[12].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[12].comentarios" onkeypress="return soloLetras(event)">
                </div>
                <hr>
                <div>
                  <span> Ayudé al tutorado a reconocer sus fortalezas y debilidades como estudiante: </span>
                  <select class="form-control" ng-model="idat.preguntas[13].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[13].comentarios" onkeypress="return soloLetras(event)">
                </div>
              </div>
            </form>
            <form name="form4" class="needs-validation" novalidate>
              <div ng-show="pestana==='seguimiento'">
                <div>
                  <span> Realicé un diagnóstico de necesidades específicas mis tutorados altamente vulnerables: </span>
                  <select class="form-control" ng-model="idat.preguntas[14].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[14].comentarios" onkeypress="return soloLetras(event)">
                </div>
                <hr>
                <div>
                  <span> Realicé mi planeación individual y cuatrimestral: </span>
                  <select class="form-control" ng-model="idat.preguntas[15].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[15].comentarios" onkeypress="return soloLetras(event)">
                </div>
                <hr>
                <div>
                  <span> Realicé el seguimiento y evaluación de las actividades tutoriales: </span>
                  <select class="form-control" ng-model="idat.preguntas[16].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[16].comentarios" onkeypress="return soloLetras(event)">
                </div>
                <hr>
                <div>
                  <span> Generé reportes y evidencias de las actividades tutoriales: </span>
                  <select class="form-control" ng-model="idat.preguntas[17].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[17].comentarios" onkeypress="return soloLetras(event)">
                </div>
                <hr>
                <div>
                  <span> Mi trabajo tutorial tiene un impacto positivo en el desempeño de mis tutorados: </span>
                  <select class="form-control" ng-model="idat.preguntas[18].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[18].comentarios" onkeypress="return soloLetras(event)">
                </div>
              </div>
            </form>
            <form name="form5" class="needs-validation" novalidate>
              <div ng-show="pestana==='capacitacion'">
                <div>
                  <span> Me encuentro motivado para ser tutor o tutora: </span>
                  <select class="form-control" ng-model="idat.preguntas[19].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[19].comentarios" onkeypress="return soloLetras(event)">
                </div>
                <hr>
                <div>
                  <span> Los contenidos de las capacitaciones, me brindaron los elementos suficientes para mi desempeño: </span>
                  <select class="form-control" ng-model="idat.preguntas[20].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[20].comentarios" onkeypress="return soloLetras(event)">
                </div>
                <hr>
                <div>
                  <span> Tengo suficiente claridad respecto de las características de la acción tutorial y de sus estrategias: </span>
                  <select class="form-control" ng-model="idat.preguntas[21].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[21].comentarios" onkeypress="return soloLetras(event)">
                </div>
                <hr>
                <div>
                  <span> Considero necesaria actualización y capacitación para realizar mi actividad tutorial: </span>
                  <select class="form-control" ng-model="idat.preguntas[22].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[22].comentarios" onkeypress="return soloLetras(event)">
                </div>
                <hr>
                <div>
                  <span> Considero que el Programa Institucional de Tutorías ha mejorado el desempeño académico de mis tutorados(as): </span>
                  <select class="form-control" ng-model="idat.preguntas[23].respuesta" required>
                    <option value="" disabled>-Elige una opción-</option>
                    <option value="[4]">Siempre</option>
                    <option value="[3]">Casi Siempre</option>
                    <option value="[2]">Casi Nunca</option>
                    <option value="[1]">Nunca</option>
                  </select>
                  <span> Comentarios:</span>
                  <input class="form-control" ng-model="idat.preguntas[23].comentarios" onkeypress="return soloLetras(event)">
                </div>
              </div>
            </form>
          </li>
        </ul>
        <div class="input-group">
          <button class="btn btn-primary" ng-click="guardaFormato('idat')" ng-show="main.usuario.tipo===4 && idat.estatus<=0" ng-disabled="!form1.$valid || !form2.$valid || !form3.$valid || !form4.$valid || !form5.$valid">
            Enviar a Revisión
          </button>
          <button class="btn btn-info" ng-click="verComentarios('idat')" ng-show="main.usuario.tipo===4 && idat.estatus<0">
            Ver Sugerencias
          </button>
          <button class="btn btn-default" ng-click="imprimir('idat')" ng-show="idat.estatus===3 && main.usuario.tipo===4">
            <i class="fas fa-print"></i>Imprimir
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
