<div style="background-image: url('images/loginut.png');background-size: cover;background-repeat: no-repeat;height: 83%;">
  <div style="height: 100%;align-content: center;">
    <div class="d-flex justify-content-center h-100">
      <div style="height: 370px;margin-top: auto;margin-bottom: auto;width: 400px;border-radius:5px;background-color: rgba(0,0,0,0.5) !important;">
        <div style="color: white;">
          <h3></h3>
          <div class="d-flex justify-content-end social_icon"><br><br><br><br><br><br>
          </div>
        </div>
        <div class="" align="center">
          <form name="form">
            <div class="input-group form-group" style="width: 80%;">
              <div class="input-group-prepend" >
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input style="width: 50px;" class=" form-control input-sm" type="text" ng-model="usuario.matricula" placeholder="Matricula" autofocus required onkeyup="mayus(this)">
            </div>
            <div class="input-group form-group" style="width: 80%;">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input style="width: 50px;" class=" form-control  input-sm" type="password" ng-model="usuario.password" placeholder="Contraseña" required >
            </div>
            <div class="form-group" style="width: 50%;">
              <button type="submit" class="btn btn-block login_btn"   ng-click="validaLogin()" ng-disabled="!form.$valid">Acceder</button>
            </div>
            <div class="form-group">
              <p style="color:white;">TOPOtech &copy; 2019</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
