<div class="container">
  <div class="row separado">
    <h4 class="titulos">
      Usuarios
      <button type="button" class="btn btn-sm btn-warning pull-right" data-toggle="modal" data-target="#modalUsuario" ng-click="editarUsuario()">
        <i class="fas fa-plus"></i>
      </button>
    </h4>
  </div>
  <div class="row separado">
    <div class="col-12 table-responsive">
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th ng-click="ordenado='matricula'">Matrícula</th>
            <th ng-click="ordenado='nombreCompleto'">Nombre Completo</th>
            <th ng-click="ordenado='curp'">Curp</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th ng-click="ordenado='tipo'">Tipo</th>
            <th width="10%">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='p in usuarios | orderBy: ordenado | startFromGrid: currentPage * pageSize | limitTo: pageSize'>
            <td>{{p.matricula}}</td>
            <td>{{p.nombreCompleto}}</td>
            <td>{{p.curp}}</td>
            <td>{{p.telefono}}</td>
            <td>{{p.correo}}</td>
            <td>{{p.tipo|nombreTipo}}</td>
            <td>
              <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#modalUsuario" ng-click="editarUsuario(p)">
                <i class="fas fa-pen"></i>
              </button>
              <button type="button" class="btn btn-xs btn-danger" ng-click="eliminarUsuario(p)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='btn-group'>
      <button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
      <button type='button' class='btn btn-default' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
      <button type='button' class='btn btn-default' ng-disabled='currentPage >= usuarios.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>
    </div>
  </div>
</div>
<!--
███    ███  ██████  ██████   █████  ██
████  ████ ██    ██ ██   ██ ██   ██ ██
██ ████ ██ ██    ██ ██   ██ ███████ ██
██  ██  ██ ██    ██ ██   ██ ██   ██ ██
██      ██  ██████  ██████  ██   ██ ███████
-->
<div class="modal fade" tabindex="-1" role="dialog" id="modalUsuario">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header mdh">
        <h5 class="modal-title">Datos del Usuario</h5>
        <p>Los campos en negritas son obligatorios</p>
      </div>
      <form name="formUsuario">
        <div class="modal-body">
          <button type="button" class="btn" ng-class="{'active btn-primary': pestana=='generales', 'btn-default': pestana!='generales'}" ng-click="pestana='generales'">
            Generales
          </button>
          <button type="button" class="btn" ng-class="{'active btn-primary': pestana=='carreras', 'btn-default': pestana!='carreras'}" ng-click="pestana='carreras'">
            Carreras
          </button>
          <div class="pestaña" ng-show="pestana==='generales'">
            <div class="row separado">
              <div class="col-xs-6 col-md-6">
                <div class="input-group">
                  <div class="input-group-addon"><b>Matrícula:</b> </div>
                  <input type="text" class="form-control" ng-model="usuario.matricula" required onkeyup="mayus(this)"">
                </div>
              </div>
              <div class=" col-xs-6 col-md-6">
                  <div class="input-group">
                    <div class="input-group-addon"><b>Contraseña: </b></div>
                    <input type="{{inputType}}" class="form-control" ng-model="usuario.password" required name="password">
                    <button class="input-group-addon">
                      <span class="{{showHideClass}}" ng-click="showPassword()" style="cursor:pointer" title="Mostrar contraseña"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row separado">
                <div class="col-xs-12 col-md-12">
                  <div class="input-group">
                    <div class="input-group-addon"><b>Nombre(s): </b></div>
                    <input type="text" class="form-control" ng-model="usuario.nombre" required onkeypress="return soloLetras(event)">
                  </div>
                </div>
              </div>
              <div class="row separado">
                <div class="col-xs-6 col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon"><b>Apellido Paterno: </b></span>
                    <input type="text" class="form-control" ng-model="usuario.appat" required onkeypress="return soloLetras(event)">
                  </div>
                </div>
                <div class="col-xs-6 col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon">Apellido Materno: </span>
                    <input type="text" class="form-control" ng-model="usuario.apmat" onkeypress="return soloLetras(event)">
                  </div>
                </div>
              </div>
              <div class="row separado">
                <div class="col-xs-6 col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon">Curp: </span>
                    <input maxlength="18" type="text" class="form-control" ng-model="usuario.curp" onkeyup="mayus(this)"";>
                </div>
              </div>
              <div class=" col-xs-6 col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon">NSS: </span>
                      <input maxlength="20" type="text" class="form-control" ng-model="usuario.nss" onkeyup="this.value=Numeros(this.value)">
                    </div>
                  </div>
                </div>
                <div class="row separado">
                  <div class="col-xs-12 col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon">Correo: </span>
                      <input type="email" class="form-control" ng-model="usuario.correo">
                    </div>
                  </div>
                </div>
                <div class="row separado">
                  <div class="col-xs-6 col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon">Tel&eacutefono: </span>
                      <input type="text" class="form-control" ng-model="usuario.telefono" onkeyup="this.value=Numeros(this.value)" maxlength="10">
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon"><b>Tipo de Usuario: </b></span>
                      <select type="text" class="form-control" ng-model="usuario.tipo" required>
                        <option value="">-Elija una Opción-</option>
                        <option value="1">SuperAdmin</option>
                        <option value="2">Coordinador</option>
                        <option value="3">Director</option>
                        <option value="4">Tutor</option>
                        <option value="5">Docente</option>
                        <option value="6">Alumno</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row separado">
                  <div class="col-xs-6 col-md-6">
                    <div class="input-group">
                      <div class="input-group-addon">Abreviatura: </div>
                      <input type="text" class="form-control" ng-model="usuario.abreviatura" required onkeypress="return soloLetras(event)" placeholder="Ej. Ing. Lic. Mc. Mtra. Mtro.">
                    </div>
                  </div>
                  <div class="col-xs-4 col-md-4">
                    <div class="input-group">
                      <div class="input-group-addon">Tiempo Completo: </div>
                      <input type="checkbox" class="form-control" ng-model="usuario.tiempoCompleto" ng-true-value="1" ng-false-value="0">
                    </div>
                  </div>
                </div>
              </div>
              <div class="pestaña" ng-show="pestana==='carreras'">
                <div class="row separado">
                  <div class="col-xs-6 col-md-6">
                    <table>
                      <thead>
                        <th></th>
                        <th></th>
                      </thead>
                      <tbody>
                        <tr ng-repeat="car in carrerasSeleccionadas">
                          <td><input type="checkbox" ng-model="car.selected"></td>
                          <td>{{car.carrera}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="declaraUsuario()">Cerrar</button>
        <button class="btn btn-primary" data-dismiss="modal" ng-click="guardarUsuario()" ng-disabled="!formUsuario.$valid">Guardar</button>
      </div>
    </div>
  </div>
</div>
