<!--
██      ██ ███████ ████████  █████
██      ██ ██         ██    ██   ██
██      ██ ███████    ██    ███████
██      ██      ██    ██    ██   ██
███████ ██ ███████    ██    ██   ██
-->
<div class="container" ng-show="listaDocumentos">
  <div class="row separado">
    <div class="col-xs-12 col-md-12 col-lg-12 ">
      <h4 class="titulos">Designación de Tutor
        <button ng-show="main.usuario.tipo===3" type="button" class="btn btn-sm btn-warning" ng-click="verDocumento()">
          <i class="fas fa-plus"></i>
        </button>
      </h4>
    </div>
  </div>
  <div class="jumbotron" style="background-color:#04B45F;" ng-if="designaciones.length===0">
    <h1 align="center">No Hay Formatos Registrados</h1>
  </div>
  <div class="row separado" ng-if="designaciones.length>0">
    <div class="col-xs-12 col-md-12 col-lg-12 table-responsive">
      <table class="table table-striped table-hover table-condensed mayusculas">
        <thead>
          <tr align="center">
            <th ng-click="ordenado='id_formato'">Folio</th>
            <th ng-click="ordenado='fechaExpedicion'">Fecha de creación</th>
            <th ng-click="ordenado='id_tutor'">Tutor</th>
            <th ng-click="ordenado='id_carrera'">Carrera</th>
            <th ng-click="ordenado='id_grupo'">Grupo</th>
            <th ng-click="ordenado='estatus'">Estatus</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="documento in designaciones  | orderBy: ordenado | startFromGrid: currentPage * pageSize | limitTo: pageSize" align="center">
            <td class="text-center">{{documento.id_formato}}</td>
            <td>{{documento.fechaExpedicion|fecha}}</td>
            <td>{{documento.id_tutor|nombreTutor:docentes}}</td>
            <td>{{documento.id_carrera|nombreCarrera:carreras}}</td>
            <td>{{documento.id_grupo|nombreGrupo:grupos}}</td>
            <td>{{documento.estatus|estado}}</td>
            <td>
              <button ng-click="verDocumento(documento)" class="btn btn-info btn-sm">
                <i class="fas fa-search" aria-hidden></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
      <div class='btn-group'>
        <button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
        <button type='button' class='btn btn-default' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
        <button type='button' class='btn btn-default' ng-disabled='currentPage >= designaciones.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>
      </div>
  </div>
</div>
<!--
██████   ██████   ██████ ██    ██ ███    ███ ███████ ███    ██ ████████  ██████
██   ██ ██    ██ ██      ██    ██ ████  ████ ██      ████   ██    ██    ██    ██
██   ██ ██    ██ ██      ██    ██ ██ ████ ██ █████   ██ ██  ██    ██    ██    ██
██   ██ ██    ██ ██      ██    ██ ██  ██  ██ ██      ██  ██ ██    ██    ██    ██
██████   ██████   ██████  ██████  ██      ██ ███████ ██   ████    ██     ██████
-->
<div class="container" ng-show="showDocumento">
  <div class="row separado">
    <div class="col-xs-12 col-md-12">
      <h4 class="titulos">Designación de Tutor
        <button type="button" class="btn btn-sm btn-warning pull-right" ng-click="showDocumento=false;listaDocumentos=true">
          <i class="fas fa-angle-double-left"></i>
        </button>
      </h4>
    </div>
  </div>
  <div class="row separado">
    <div class="col-md-8 order-md-2 hoja-tramite">
      <detu-directiva datos="datos"></detu-directiva>
    </div>
    <div class="col-md-4 order-md-1 mb-4">
      <form name="formDatos" class="needs-validation" novalidate>
        <ul class="list-group mb-4" ng-show="main.usuario.tipo===3 && datos.estatus===0">
          <li class="list-group-item  justify-content-between lh-condensed">
            <div>
              <label for="tutor">Tutor</label>
              <select class="form-control" ng-model="datos.tutor" ng-change="obtieneCarrerasPorDocente()" ng-options="tutor as tutor.nombreCompleto for tutor in docentesFiltrados track by tutor.id_usuario" required>
                <option value="" disabled>-Elige un Tutor-</option>
              </select>
            </div>
            <div>
              <label for="periodo">Periodo</label>
              <select class="form-control" ng-model="datos.periodo" required>
                <option value="" disabled>-Elige un Periodo-</option>
                <option value="Enero - Abril">Enero - Abril</option>
                <option value="Mayo - Agosto">Mayo - Agosto</option>
                <option value="Septiembre - Diciembre">Septiembre - Diciembre</option>
              </select>
            </div>
            <div>
              <label for="grupoCarrera">Carrera</label>
              <select class="form-control" ng-model="datos.carrera" ng-disabled="!seleccionarCarrera" ng-change="actualizaGrupos()" ng-options="car as car.carrera for car in datos.tutor.carreras track by car.id_carrera" required>
                <option value="" disabled>-Elige Carrera-</option>
              </select>
            </div>
            <div>
              <label for="grupo">Grupo</label>
              <select class="form-control" ng-model="datos.grupo" ng-disabled="!seleccionarGrupo" ng-options="gpo as gpo.grupo for gpo in gruposFiltrados track by gpo.id_grupo" required>
                <option value="" disabled>-Elige Grupo-</option>
              </select>
            </div>
          </li>
        </ul>
      </form>
      <div class="input-group">
        <div class="input-group">
          <button class="btn btn-primary pull-right" ng-click="guardarDocumento()" ng-disabled="!formDatos.$valid" ng-show="main.usuario.tipo===3 && datos.estatus===0">
            <span ng-show="datos.estatus===0"> Enviar a Revisión</span>
          </button>
          <button class="btn btn-primary" ng-click="aceptarDocumento()" ng-show="datos.estatus===2 && main.usuario.tipo===2">
            Vo. Bo.
          </button>
          <button class="btn btn-default" ng-show="(datos.estatus===3 && main.usuario.tipo===2) || (datos.estatus===3 && main.usuario.tipo===3)" ng-click="imprimir()">
            <i class="fas fa-print"></i>Imprimir
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
