<div  id="html">
  <table class="tabla-encabezado texto-cabecera">
    <tr>
      <td rowspan="3" align="center"  class="celda"><img src="./images/logo-formato.png" width="120" height="60"></td>
      <td rowspan="2" align="center"  class="celda">UNIVERSIDAD TECNOLÓGICA<br>DE LOS VALLES CENTRALES DE OAXACA</td>
      <td  class="celda">Código: <b>{{datos.codigo}}</b></td>
    </tr>
    <tr>
      <td  class="celda">Revisión: <b>{{datos.revision}}</b></td>
    </tr>
    <tr>
      <td align="center"><b>DESIGNACIÓN DE</b>
        <span ng-show="datos.tutor.tiempoCompleto===1"><b>TUTOR</b></span>
        <span ng-show="datos.tutor.tiempoCompleto===0"><b>ASESOR</b></span>
      </td>
      <td  class="celda"><b>Página 1 de 1</b></td>
    </tr>
  </table>
  <div class="row texto-normal">
    <div class="col-md-7 mb-3">
    </div>
    <div class="col-md-5 mb-3">
      Asunto:<b>Designación de</b>
      <span ng-show="datos.tutor.tiempoCompleto===1"><b>Tutor</b></span>
      <span ng-show="datos.tutor.tiempoCompleto===0"><b>Asesor</b></span>
    </div>
  </div>
  <div class="mb-3 texto-normal" align="right">
    <p>Villa de San Pablo Huixtepec, Oaxaca, a {{datos.fechaExpedicion|fecha:'middle'}}</p>
  </div>
  <div class="mb-3 texto-normal">
    <p>{{datos.tutor.nombreCompleto | uppercase}} DOCENTE DE LA CARRERA DE
      {{datos.carrera.carrera | uppercase}}</p>
  </div>
  <div class="mb-3 texto-normal">
    <p>P R E S E N T E</p>
  </div>
  <div class="mb-3 texto-normal" align="justify">
    De conformidad con el contrato de trabajo que tiene suscrito, así como con el
    Reglamento Interno, el Reglamento Interior de Trabajo y la normatividad en materia
    educativa y promoción y permanencia académica que rigen a esta Universidad,
    durante el cuatrimestre comprendido de {{datos.periodo}}, ha sido designado
    <span ng-show="datos.tutor.tiempoCompleto===1"><b>TUTOR</b></span>
    <span ng-show="datos.tutor.tiempoCompleto===0"><b>ASESOR</b></span>
    del grupo {{datos.grupo.grupo}} de la carrera de {{datos.carrera.carrera}}.
  <br><br>
    Por lo anterior, se le pide realice todas las actividades correspondientes a esta
    función, de manera responsable y así mismo, deberá presentar los informes correspondientes
    en la forma y términos marcados por la normativa.
  <br><br>
    Cabe decir que dicha designación se realizó de forma programada según el rol de
    docentes participantes, como es su caso, en el cuatrimestre escolar señalado.
  </div>
  <div class="mb-3 texto-normal" align="justify">
    Sin más por el momento reciba un cordial saludo.
  </div>
  <div class="mb-3 texto-cabecera" align="center" ng-show="datos.estatus===3">
    ATENTAMENTE<br><br>
    _____________________________<br>
    {{datos.coordinador.nombreCompleto|uppercase}}<br>
    Dirección Académica
  </div>
</div>
