<div class="container">
  <div class="row separado">
      <h4 class="titulos">Áreas
        <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#modalArea" ng-click="editarArea()">
          <i class="fas fa-plus"></i>
        </button>
      </h4>
  </div>
  <div class="row separado">
    <div class="col-xs-12 col-md-12 table-responsive">
      <table class="table table-striped table-hover table-condensed mayusculas">
        <thead>
          <tr align="center">
            <th ng-click="ordenado='area'">Área</th>
            <th ng-click="ordenado='carrera'">Carrera</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr align="center" ng-repeat="a in areas |orderBy:ordenado | startFromGrid: cpCar * psCar | limitTo: psCar">
            <td width="45%">{{a.area}}</td>
            <td width="45%">{{a.id_carrera|nombreCarrera:carreras}}</td>
            <td>
              <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#modalArea" ng-click="editarArea(a)">
                <i class="fas fa-pen"></i>
              </button>
              <button type="button" class="btn btn-xs btn-danger" ng-click="eliminarArea(a)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
      <div class='btn-group'>
        <button type='button' class='btn btn-default' ng-disabled='cpCar == 0' ng-click='cpCar = cpCar - 1'>&laquo;</button>
        <button type='button' class='btn btn-default' ng-disabled='cpCar == page.no - 1' ng-click='setPageCar(page.no)' ng-repeat='page in pCar'>{{page.no}}</button>
        <button type='button' class='btn btn-default' ng-disabled='cpCar >= areas.length/psCar - 1' , ng-click='cpCar = cpCar + 1'>&raquo;</button>
      </div>
  </div>
</div>
<!--
███    ███  ██████  ██████   █████  ██
████  ████ ██    ██ ██   ██ ██   ██ ██
██ ████ ██ ██    ██ ██   ██ ███████ ██
██  ██  ██ ██    ██ ██   ██ ██   ██ ██
██      ██  ██████  ██████  ██   ██ ███████
-->
<div class="modal fade" tabindex="-1" role="dialog" id="modalArea">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header mdh">
        <h5 class="modal-title">Datos del Area</h5>
        <p>Los campos en negritas son obligatorios</p>
      </div>
      <form name="formArea">
        <div class="modal-body">
          <div class="input-group">
            <span class="input-group-addon">Nombre: </span>
            <input type="text" class="form-control" ng-model="area.area" required onkeypress="return soloLetras(event)">
          </div><br>
          <div class="input-group">
            <span class="input-group-addon">Carrera: </span>
            <select class="form-control" ng-model="area.carrera" ng-options="car as car.carrera for car in carreras track by car.id_carrera">
              <option value="" disabled>-Elige una Carrera-</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="declaraArea()">Cerrar</button>
          <button class="btn btn-primary" data-dismiss="modal" ng-click="guardarArea()" ng-disabled="!formArea.$valid">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
