<div class="container" ng-show="formato===''">
  <div class="row separado">
    <h4 class="titulos">
      Alumnos
      <button type="button" class="btn btn-sm btn-warning pull-right" data-toggle="modal" data-target="#modalUsuario" ng-click="editarUsuario()">
        <i class="fas fa-plus"></i>
      </button>
    </h4>
  </div>
  <div class="row separado">
    <!-- <div class="col-xs-6 col-md-6">
      <div class="input-group">
        <span class="input-group-addon">Carrera: </span>
        <select class="form-control" ng-model="carrera" ng-change="actualizaGrupos()" ng-options="car as car.carrera for car in carreras track by car.id_carrera">
          <option value="">-Elige Carrera-</option>
        </select>
      </div>
    </div>
    <div class="col-xs-3 col-md-3">
      <div class="input-group">
        <span class="input-group-addon">Grupo: </span>
        <select class="form-control" ng-model="grupo" ng-change="actualizaAlumnos()" ng-disabled="!seleccionarGrupo" ng-options="gpo as gpo.grupo for gpo in gruposFiltrados track by gpo.id_grupo">
          <option value="">-Elige Grupo-</option>
        </select>
      </div>
    </div> -->

  </div>
  <div class="row separado">
    <div class="col-12 table-responsive">
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th ng-click="ordenado='matricula'">Matrícula</th>
            <th ng-click="ordenado='appat'">Nombre Completo</th>
            <th ng-click="ordenado='curp'">Curp</th>
            <th width="10%">Reporte Individual</th>
            <th width="10%">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="p in alumnos | orderBy: ordenado | startFromGrid: currentPage * pageSize | limitTo: pageSize">
            <td>{{p.matricula|uppercase}}</td>
            <td>{{p.appat|uppercase}} {{p.apmat|uppercase}} {{p.nombre|uppercase}}</td>
            <td>{{p.curp|uppercase}}</td>
            <td>
              <button class="btn btn-sm btn-warning" title="Crear" ng-click="iniciaFormato('rein',p)" ng-show="p.rein===''">
                <i class="fas fa-plus"></i>
              </button>
              <button class="btn btn-sm btn-success" title="Aprobado" ng-click="visualizaFormato('rein',p)" ng-show="p.rein.estatus===1">
                <i class="fas fa-check"></i>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#modalUsuario" ng-click="editarUsuario(p)">
                <i class="fas fa-pen"></i>
              </button>
              <button type="button" class="btn btn-xs btn-danger" ng-click="eliminarUsuario(p)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='btn-group'>
      <button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
      <button type='button' class='btn btn-default' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
      <button type='button' class='btn btn-default' ng-disabled='currentPage >= alumnos.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>
    </div>
  </div>
</div>
<!--
███    ███  ██████  ██████   █████  ██
████  ████ ██    ██ ██   ██ ██   ██ ██
██ ████ ██ ██    ██ ██   ██ ███████ ██
██  ██  ██ ██    ██ ██   ██ ██   ██ ██
██      ██  ██████  ██████  ██   ██ ███████
-->
<div class="modal fade" tabindex="-1" role="dialog" id="modalUsuario">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Datos del Usuario</h5>
      </div>
      <form name="formUsuario">
        <div class="modal-body">
          <div class="row separado">
            <div class="col-xs-6 col-md-6">
              <div class="input-group">
                <div class="input-group-addon"><b>Matrícula:</b> </div>
                <input type="text" class="form-control" ng-model="usuario.matricula" required onkeyup="mayus(this)"">
              </div>
            </div>
            <div class=" col-xs-6 col-md-6">
                <div class="input-group">
                  <div class="input-group-addon"><b>Contraseña: </b></div>
                  <input type="{{inputType}}" class="form-control" ng-model="usuario.password" required name="password">
                  <button class="input-group-addon">
                    <span class="{{showHideClass}}" ng-click="showPassword()" style="cursor:pointer" title="Mostrar contraseña"></span>
                  </button>
                </div>
              </div>
            </div>
            <div class="row separado">
              <div class="col-xs-12 col-md-12">
                <div class="input-group">
                  <div class="input-group-addon"><b>Nombre(s): </b></div>
                  <input type="text" class="form-control" ng-model="usuario.nombre" required onkeypress="return soloLetras(event)">
                </div>
              </div>
            </div>
            <div class="row separado">
              <div class="col-xs-6 col-md-6">
                <div class="input-group">
                  <span class="input-group-addon"><b>Apellido Paterno: </b></span>
                  <input type="text" class="form-control" ng-model="usuario.appat" required onkeypress="return soloLetras(event)">
                </div>
              </div>
              <div class="col-xs-6 col-md-6">
                <div class="input-group">
                  <span class="input-group-addon">Apellido Materno: </span>
                  <input type="text" class="form-control" ng-model="usuario.apmat" onkeypress="return soloLetras(event)">
                </div>
              </div>
            </div>
            <div class="row separado">
              <div class="col-xs-6 col-md-6">
                <div class="input-group">
                  <span class="input-group-addon">Curp: </span>
                  <input maxlength="18" type="text" class="form-control" ng-model="usuario.curp" required onkeyup="mayus(this)"";>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class=" modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="declaraUsuario()">Cerrar</button>
                  <button class="btn btn-primary" data-dismiss="modal" ng-click="guardarUsuario()" ng-disabled="!formUsuario.$valid">Guardar</button>
                </div>
              </div>
            </div>
          </div>
          <!--
██████  ███████ ██ ███    ██
██   ██ ██      ██ ████   ██
██████  █████   ██ ██ ██  ██
██   ██ ██      ██ ██  ██ ██
██   ██ ███████ ██ ██   ████
-->
          <div class="container" ng-show="formato==='rein'">
            <div class="row separado">
              <div class="col-xs-12 col-md-12">
                <h4 class="titulos">Reporte Individual
                  <button type="button" class="btn btn-sm btn-warning" ng-click="resetea()">
                    <i class="fas fa-angle-double-left"></i>
                  </button>
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 order-md-2">
                <div class="hoja-tramite">
                  <rein-directiva datos="rein"></rein-directiva>
                </div>
                <div class="hoja-tramite">
                  <rein2-directiva datos="rein"></rein2-directiva>
                </div>
              </div>
              <div class="col-md-4 order-md-1 mb-4">
                <div class="datos">
                  <ul class="list-group mb-4" ng-show="rein.estatus<=0">
                    <li class="list-group-item  justify-content-between lh-condensed">
                      <div>
                        <button type="button" class="btn btn-block" ng-class="{'active btn-primary': pestana==='generales', 'btn-default': pestana!='generales','btn-info':form1.$valid}" ng-click="pestana='generales'">
                          Personales
                        </button>
                        <button type="button" class="btn btn-block" ng-class="{'active btn-primary': pestana==='familiares', 'btn-default': pestana!='familiares','btn-info':form2.$valid}" ng-click="pestana='familiares'">
                          Familiares
                        </button>
                        <button type="button" class="btn btn-block" ng-class="{'active btn-primary': pestana==='situacion', 'btn-default': pestana!='situacion','btn-info':form3.$valid}" ng-click="pestana='situacion'">
                          Situación
                        </button>
                      </div>
                    </li>
                    <li class="list-group-item  justify-content-between lh-condensed">
                      <form name="form1" class="needs-validation" novalidate>
                        <div ng-show="pestana==='generales'">
                          <div>
                            <span> Nombre:</span>
                            <input class="form-control" value="{{rein.alumno.nombreCompleto | uppercase}}" disabled>
                            <span> Edad:</span>
                            <input type="number" class="form-control" min="0" ng-model="rein.alumno.edad">
                            <span> Lugar de Nacimiento:</span>
                            <input class="form-control" ng-model="rein.alumno.lugarNacimiento">
                            <span> Municipio:</span>
                            <input class="form-control" ng-model="rein.alumno.municipio">
                            <span> Estado de Residencia:</span>
                            <input class="form-control" ng-model="rein.alumno.estado">
                            <span> Lugar de Residencia:</span>
                            <input class="form-control" ng-model="rein.alumno.lugarResidencia">
                            <span> Teléfono:</span>
                            <input class="form-control" ng-model="rein.alumno.telefono">
                            <span> Nivel:</span>
                            <select class="form-control" ng-model="rein.alumno.nivel" required>
                              <option value="" disabled>-Elige una opción-</option>
                              <option value="TSU">TSU</option>
                              <option value="Lic">Licenciatura</option>
                              <option value="Ing">Ingeniería</option>
                            </select>
                            <span> Cuatrimestre:</span>
                            <select class="form-control" ng-model="rein.alumno.cuatrimestre" required>
                              <option value="" disabled>-Elige una opción-</option>
                              <option value="Enero - Abril">Ene - Abr</option>
                              <option value="Mayo - Agosto">May - Ago</option>
                              <option value="Septiembre - Diciembre">Sep - Dic</option>
                            </select>
                            <span> Con quien vive actualmente:</span>
                            <input class="form-control" ng-model="rein.alumno.vive">
                          </div>
                        </div>
                      </form>
                      <form name="form2" class="needs-validation" novalidate>
                        <div ng-show="pestana==='familiares'">
                          <div>
                            <span> Nombre del Padre:</span>
                            <input class="form-control" ng-model="rein.preguntas[0].respuesta">
                            <span> Vive:</span>
                            <select class="form-control" ng-model="rein.preguntas[1].respuesta" required>
                              <option value="" disabled>-Elige una opción-</option>
                              <option value="Si">Si</option>
                              <option value="No">No</option>
                            </select>
                            <span> Edad:</span>
                            <input class="form-control" ng-model="rein.preguntas[2].respuesta">
                            <span> Ocupación:</span>
                            <input class="form-control" ng-model="rein.preguntas[3].respuesta">
                          </div>
                          <hr>
                          <div>
                            <span> Nombre de la Madre:</span>
                            <input class="form-control" ng-model="rein.preguntas[4].respuesta">
                            <span> Vive:</span>
                            <select class="form-control" ng-model="rein.preguntas[5].respuesta" required>
                              <option value="" disabled>-Elige una opción-</option>
                              <option value="Si">Si</option>
                              <option value="No">No</option>
                            </select>
                            <span> Edad:</span>
                            <input class="form-control" ng-model="rein.preguntas[6].respuesta">
                            <span> Ocupación:</span>
                            <input class="form-control" ng-model="rein.preguntas[7].respuesta">
                          </div>
                          <hr>
                          <div>
                            <span> N° de hijos (as):</span>
                            <input class="form-control" ng-model="rein.preguntas[8].respuesta">
                            <span> Ocupación de los padres:</span>
                            <input class="form-control" ng-model="rein.preguntas[9].respuesta">
                            <span> Dirección:</span>
                            <input class="form-control" ng-model="rein.preguntas[10].respuesta">
                            <span> Teléfono:</span>
                            <input class="form-control" ng-model="rein.preguntas[11].respuesta">
                            <span> Otras Personas que vivan en casa:</span>
                            <select class="form-control" ng-model="rein.preguntas[12].respuesta" required>
                              <option value="" disabled>-Elige una opción-</option>
                              <option value="Si">Si</option>
                              <option value="No">No</option>
                            </select>
                            <span ng-show="rein.preguntas[12].respuesta==='Si'"> Quién:</span>
                            <input class="form-control" ng-model="rein.preguntas[13].respuesta" ng-show="rein.preguntas[12].respuesta==='Si'">
                            <span> ¿Tiene hermanos?</span>
                            <select class="form-control" ng-model="rein.preguntas[14].respuesta" required>
                              <option value="" disabled>-Elige una opción-</option>
                              <option value="Si">Si</option>
                              <option value="No">No</option>
                            </select>
                            <span ng-show="rein.preguntas[14].respuesta==='Si'"> Cuántos:</span>
                            <input class="form-control" ng-model="rein.preguntas[15].respuesta" ng-show="rein.preguntas[14].respuesta==='Si'">
                            <span> Grado de estudios de hermanos:</span>
                            <input class="form-control" ng-model="rein.preguntas[16].respuesta">
                            <span> Historia familiar del tutorado:</span>
                            <input class="form-control" ng-model="rein.preguntas[17].respuesta">
                            <span> Historia escolar del tutorado:</span>
                            <input class="form-control" ng-model="rein.preguntas[18].respuesta">
                            <span> Participación del tutorado:</span>
                            <input class="form-control" ng-model="rein.preguntas[19].respuesta">
                            <span> Condiciones en las que vive:</span>
                            <input class="form-control" ng-model="rein.preguntas[20].respuesta">
                            <span> Actividades que le gustan y disgustan:</span>
                            <input class="form-control" ng-model="rein.preguntas[21].respuesta">
                            <span> Asignaturas que le gustan y disgustan:</span>
                            <input class="form-control" ng-model="rein.preguntas[22].respuesta">
                            <span> Estado de ánimo actual:</span>
                            <input class="form-control" ng-model="rein.preguntas[23].respuesta">
                            <span> Rendimiento del tutorado:</span>
                            <input class="form-control" ng-model="rein.preguntas[24].respuesta">
                            <span> Comportamiento del tutorado:</span>
                            <input class="form-control" ng-model="rein.preguntas[25].respuesta">
                            <span> N° de escuelas en las que ha estado:</span>
                            <input class="form-control" ng-model="rein.preguntas[26].respuesta">
                            <span> Historial médico:</span>
                            <input class="form-control" ng-model="rein.preguntas[27].respuesta">
                            <span> Opinión general de los responsables:</span>
                            <input class="form-control" ng-model="rein.preguntas[28].respuesta">
                          </div>
                        </div>
                      </form>
                      <form name="form3" class="needs-validation" novalidate>
                        <div ng-show="pestana==='situacion'">
                          <div>
                            <span> Descripción de problema familiar:</span>
                            <input class="form-control" ng-model="rein.preguntas[29].respuesta" required>
                            <span> Valoración sobre su problema:</span>
                            <input class="form-control" ng-model="rein.preguntas[30].respuesta" required>
                            <span> Actitud sobre su problema:</span>
                            <input class="form-control" ng-model="rein.preguntas[31].respuesta" required>
                            <span> Acuerdo de apoyos:</span>
                            <input class="form-control" ng-model="rein.preguntas[32].respuesta" required>
                            <span> Recomendaciones:</span>
                            <input class="form-control" ng-model="rein.preguntas[33].respuesta" required>
                            <span> Impresiones del tutor:</span>
                            <input class="form-control" ng-model="rein.preguntas[34].respuesta" required>
                            <span> Síntesis del problema del tutorado:</span>
                            <input class="form-control" ng-model="rein.preguntas[35].respuesta" required>
                            <span> Diagnóstico del problema del tutorado:</span>
                            <input class="form-control" ng-model="rein.preguntas[36].respuesta" required>
                            <span> Acuerdos y compromisos:</span>
                            <input class="form-control" ng-model="rein.preguntas[37].respuesta" required>
                          </div>
                          <hr>
                          <div>
                            <h4>Recomendaciones a atender</h4>
                            <span>Salud:</span>
                            <input class="form-control" ng-model="rein.preguntas[38].respuesta" required>
                            <span>Escolar:</span>
                            <input class="form-control" ng-model="rein.preguntas[39].respuesta" required>
                            <span>Comportamiento:</span>
                            <input class="form-control" ng-model="rein.preguntas[40].respuesta" required>
                            <span>Familia:</span>
                            <input class="form-control" ng-model="rein.preguntas[41].respuesta" required>
                          </div>
                        </div>
                      </form>
                    </li>
                  </ul>
                  <div class="input-group">
                    <button class="btn btn-primary" ng-click="guardaFormato('rein')" ng-show="main.usuario.tipo===4 && rein.estatus<=0" ng-disabled="!form1.$valid">
                      Enviar a Revisión
                    </button>
                    <button class="btn btn-info" ng-click="verComentarios('rein')" ng-show="main.usuario.tipo===4 && rein.estatus<0">
                      Ver Sugerencias
                    </button>
                    <button class="btn btn-default" ng-click="imprimir('rein')" ng-show="rein.estatus===1 && main.usuario.tipo===4">
                      <i class="fas fa-print"></i>Imprimir
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
