<encabezado-directiva datos="datos"></encabezado-directiva>
<br>
<table class="texto-normal" border="1" width="95%" align="center">
  <tr align="justify" bgcolor="#BDBDBD">
    <td colspan="3"><b>Indicaciones: A continuación se presenta una serie de reactivos que usted necesita describir en caso
       de identificar a estudiantes altamente vulnerables en los ámbitos personal, académico, socioeconómico.</b>
    </td>
  </tr>
  <tr align="center" >
    <td colspan="3"><b>I. DATOS PERSONALES DEL TUTORADO</b>
    </td>
  </tr>
  <tr><td colspan="3" bgcolor="#BDBDBD"><b>Fecha:</b> {{datos.fechaExpedicion | fecha}}</td></tr>
  <tr><td colspan="2">Nombre: {{datos.alumno.nombreCompleto | uppercase}}</td><td width="33%">Edad: {{datos.alumno.edad}}</td></tr>
  <tr><td width="33%">Matrícula: {{datos.alumno.matricula|uppercase}}</td><td colspan="2">Programa Educativo: {{datos.tutor.carrera.carrera}}</td></tr>
  <tr><td colspan="3" bgcolor="#BDBDBD">Lugar de Nacimiento: <b>{{datos.alumno.lugarNacimiento | uppercase}}</b></td></tr>
  <tr><td>Municipio: {{datos.alumno.municipio}}</td><td>Estado de residencia: {{datos.alumno.estado}}</td><td>Lugar de residencia: {{datos.alumno.lugarResidencia}}</td></tr>
  <tr><td colspan="3" bgcolor="#BDBDBD">Teléfono del tutorado: {{datos.alumno.telefono}}</td></tr>
  <tr><td>Nivel (TSU, Lic. o Ing.): {{datos.alumno.nivel}}</td><td>Cuatrimestre: {{datos.alumno.cuatrimestre}}</td><td>Grupo: {{datos.tutor.grupo.grupo}}</td></tr>
  <tr><td colspan="3" bgcolor="#BDBDBD">Actualmente con quien vive el tutorado: <b>{{datos.alumno.vive}}</b></td></tr>
  <tr>
    <td colspan="3"><p align="center" ><b>II. DATOS FAMILIARES</b></p>
        1.   Nombre del padre: <b>{{datos.preguntas[0].respuesta||'___________________________________' | uppercase}}</b>,
         Vive: <b>{{datos.preguntas[1].respuesta||'___________' | uppercase}}</b>,
          Edad: <b>{{datos.preguntas[2].respuesta||'___________'}}</b>,
           Ocupación: <b>{{datos.preguntas[3].respuesta||'___________' | uppercase}}</b>
        <br>2.   Nombre del madre: <b>{{datos.preguntas[4].respuesta||'___________________________________' | uppercase}}</b>,
         Vive: <b>{{datos.preguntas[5].respuesta||'___________' | uppercase}}</b>,
          Edad: <b>{{datos.preguntas[6].respuesta||'___________'}}</b>,
           Ocupación: <b>{{datos.preguntas[7].respuesta||'___________' | uppercase}}</b>
        <br>3.   N° de hijos (as): <b>{{datos.preguntas[8].respuesta}}</b>
        <br>4.   Ocupación de los padres: <b>{{datos.preguntas[9].respuesta}}</b>
        <br>5.   Dirección: <b>{{datos.preguntas[10].respuesta}}</b>
        <br>6.   Teléfono: <b>{{datos.preguntas[11].respuesta}}</b>
        <br>7.   Otras Personas que vivan en casa: <b>{{datos.preguntas[12].respuesta}}</b>
        <span ng-show="datos.preguntas[12].respuesta==='Si'"><br>¿Quién? <b>{{datos.preguntas[13].respuesta}}</b></span>
        <br>8.   ¿Tiene hermanos? <b>{{datos.preguntas[14].respuesta}}</b>
        <span ng-show="datos.preguntas[14].respuesta==='Si'"><br>¿Cuántos (as)? <b>{{datos.preguntas[15].respuesta}}</b></span>
        <br>9.   Grado de estudios de las y los hermanos:  <b>{{datos.preguntas[16].respuesta}}</b>
    </td>
  </tr>
  <tr>
    <td colspan="3" bgcolor="#BDBDBD">
      10.   Describe los datos significativos de la historia familiar del tutorado: <b>{{datos.preguntas[17].respuesta}}</b>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      11.   Describe los datos significativos de la historia escolar del tutorado: <b>{{datos.preguntas[18].respuesta}}</b>
    </td>
  </tr>
  <tr>
    <td colspan="3" bgcolor="#BDBDBD">
      12.   Describe si el tutorado tiene participación en actividades (deportivas, culturales, sociales, de proyectos, etc.) en el lugar en donde vive: <b>{{datos.preguntas[19].respuesta}}</b>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      13.   Condiciones en las que vive el tutorado: <b>{{datos.preguntas[20].respuesta}}</b>
    </td>
  </tr>
  <tr>
    <td colspan="3" bgcolor="#BDBDBD">
      14.   Indica las actividades que gustan y disgustan realizar en la escuela: <b>{{datos.preguntas[21].respuesta}}</b>
    </td>
  </tr>
</table>
