<div class="container" ng-show="listaDocumentos">
  <div class="row separado">
    <div class="col-xs-12 col-md-12">
      <h4 class="titulos">Reporte Individual</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <table class="table table-striped table-hover table-condensed mayusculas">
        <thead>
          <tr align="center">
            <th>Folio</th>
            <th>Fecha de creación</th>
            <th>Alumno</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="documento in reportes" align="center">
            <td class="text-center">{{documento.id_formato}}</td>
            <td>{{documento.fechaExpedicion|fecha}}</td>
            <td>{{documento.id_alumno|nombreAlumno:alumnos}}</td>
            <td>{{documento.estatus|estado}}</td>
            <td>
              <button ng-click="verDocumento(documento)" class="btn btn-info btn-sm">
                <i class="fas fa-eye" aria-hidden></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--
██████   ██████   ██████ ██    ██ ███    ███ ███████ ███    ██ ████████  ██████
██   ██ ██    ██ ██      ██    ██ ████  ████ ██      ████   ██    ██    ██    ██
██   ██ ██    ██ ██      ██    ██ ██ ████ ██ █████   ██ ██  ██    ██    ██    ██
██   ██ ██    ██ ██      ██    ██ ██  ██  ██ ██      ██  ██ ██    ██    ██    ██
██████   ██████   ██████  ██████  ██      ██ ███████ ██   ████    ██     ██████
-->
<div class="container" ng-show="showDocumento">
  <div class="row separado">
    <div class="col-xs-12 col-md-12">
      <h4 class="titulos">Reporte Individual
        <button type="button" class="btn btn-sm btn-warning pull-right" ng-click="showDocumento=false;listaDocumentos=true">
          <i class="fas fa-angle-double-left"></i>
        </button>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 order-md-2">
      <div class="hoja-tramite">
        <rein-directiva datos="datos"></rein-directiva>
      </div>
      <div class="hoja-tramite">
        <rein2-directiva datos="datos"></rein2-directiva>
      </div>
    </div>
    <div class="col-md-4 order-md-1 mb-4">
      <button class="btn btn-primary" ng-click="aceptarDocumento()" ng-show="(datos.estatus===1 && main.usuario.tipo===3) || (datos.estatus===2 && main.usuario.tipo===2)">
        Validar Revisión
      </button>
      <button class="btn btn-danger" ng-click="rechazarDocumento()" ng-show="(datos.estatus===1 && main.usuario.tipo===3) || (datos.estatus===2 && main.usuario.tipo===2)">
        Rechazar Revisión
      </button>
      <button class="btn btn-default" ng-click="imprimir()" ng-show="datos.estatus===3 && (main.usuario.tipo===2 || main.usuario.tipo===3)">
        <i class="fas fa-print"></i>Imprimir
      </button>
    </div>
  </div>
</div>
