<encabezado-directiva datos="datos"></encabezado-directiva>
<br>
<table class="texto-normal" border="1" width="95%" align="center">
  <tr>
    <td colspan="3" >
      15.   Indica las asignaturas que le gustan y disgustan realizar en la escuela: <b>{{datos.preguntas[22].respuesta}}</b>
    </td>
  </tr>
  <tr>
    <td colspan="3" bgcolor="#BDBDBD">
      16.   Especifica el estado de ánimo actual del tutorado: <b>{{datos.preguntas[23].respuesta}}</b>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      17.   Especifica el rendimiento del tutorado en cada una de las asignaturas que cursa (nombre de la materia, promedio): <b>{{datos.preguntas[24].respuesta}}</b>
    </td>
  </tr>
  <tr>
    <td colspan="3" bgcolor="#BDBDBD">
      18.   Registra la conducta, comportamiento y actitud del tutorado frente al estudio y sus tareas escolares: <b>{{datos.preguntas[25].respuesta}}</b>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      19.   Especifica ¿En cuántas escuelas ha estado el tutorado antes de la actual? <b>{{datos.preguntas[26].respuesta}}</b>
    </td>
  </tr>
  <tr>
    <td colspan="3" bgcolor="#BDBDBD">
      20.   Describe el Historial médico vigente del tutorado: <b>{{datos.preguntas[27].respuesta}}</b>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      21.   Especifica la opinión general de los padres o responsables que conviven con el tutorado: <b>{{datos.preguntas[28].respuesta}}</b>
    </td>
  </tr>
  <tr align="center" bgcolor="#BDBDBD">
    <td colspan="3"><b>III. DESCRIPCIÓN DE LA SITUACIÓN ACTUAL </b>
    </td>
  </tr>
  <tr>
    <td colspan="3" >
      22.   Descripción de la existencia de un problema familiar del entorno estudiantil que afecta al tutorado. <b>{{datos.preguntas[29].respuesta}}</b>
    </td>
  </tr>
  <tr>
    <td colspan="3" bgcolor="#BDBDBD">
      23.   Describe ¿Cuál es la valoración que hace el tutorado sobre su problema? <b>{{datos.preguntas[30].respuesta}}</b>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      24.   Describe ¿Cuál es la actitud/ postura del tutorado ante su problema? <b>{{datos.preguntas[31].respuesta}}</b>
    </td>
  </tr>
  <tr>
    <td colspan="3" bgcolor="#BDBDBD">
      25.   Describe el acuerdo con el tutorado sobre el/los apoyos pertinentes a sus necesidades: <b>{{datos.preguntas[32].respuesta}}</b>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      26.   Recomendaciones del tutor o tutora ante la problemática del tutorado: <b>{{datos.preguntas[33].respuesta}}</b>
    </td>
  </tr>
  <tr>
    <td colspan="3" bgcolor="#BDBDBD">
      27.   Impresiones del tutor o tutora sobre el tutorado: <b>{{datos.preguntas[34].respuesta}}</b>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      28.   Describe la síntesis del problema del tutorado: <b>{{datos.preguntas[35].respuesta}}</b>
    </td>
  </tr>
  <tr>
    <td colspan="3" bgcolor="#BDBDBD">
      29.   Especifica el diagnóstico del problema del tutorado: <b>{{datos.preguntas[36].respuesta}}</b>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      30.   Recomendaciones a atender sobre las siguientes situaciones:<br>
      <ul>
        <li> Salud: <b>{{datos.preguntas[38].respuesta}}</b></li>
        <li> Escolar: <b>{{datos.preguntas[39].respuesta}}</b></li>
        <li> Comportamiento: <b>{{datos.preguntas[40].respuesta}}</b></li>
        <li> Familiar: <b>{{datos.preguntas[41].respuesta}}</b></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td colspan="3" bgcolor="#BDBDBD">
      31.   Acuerdos y compromisos del tutorado y tutor o tutora. <b>{{datos.preguntas[37].respuesta}}</b>
    </td>
  </tr>
</table>
