<div>
  <span>Fechas/Horas Asignadas: </span>
  <input type="text" class="form-control" ng-model="act.fechaHoras" required placeholder="Ej. dd-mm-aaaa/Horas">
</div>
<div>
  <span>Actividad: </span>
  <input type="text" class="form-control" ng-model="act.actividad" required onkeypress="return soloLetras(event)">
</div>
<div>
  <span>Objetivo: </span>
  <textarea class="form-control" rows="2" ng-model="act.resultados" onkeypress="return soloLetras(event)"></textarea>
</div>
<div>
  <span>Recursos Materiales: </span>
  <textarea class="form-control" rows="3" ng-model="act.recursosMateriales" onkeypress="return soloLetras(event)"></textarea>
</div>
<div>
  <span>Recursos Didácticos: </span>
  <textarea class="form-control" rows="3" ng-model="act.recursosDidacticos" onkeypress="return soloLetras(event)"></textarea>
</div>
