<table class="tabla-encabezado texto-cabecera">
  <tr>
    <td rowspan="3" align="center"  class="celda" width="25%"><img src="./images/logo-formato.png"  height="60"></td>
    <td rowspan="2" align="center"  width="50%" class="celda">UNIVERSIDAD TECNOLÓGICA<br>DE LOS VALLES CENTRALES DE OAXACA</td>
    <td  class="celda" width="25%" >Código: <b>{{datos.codigo}}</b></td>
  </tr>
  <tr>
    <td  class="celda">Revisión: <b>{{datos.revision}}</b></td>
  </tr>
  <tr>
    <td align="center"  class="celda"><b>{{datos.formato|uppercase}}</b></td>
    <td  class="celda"><b>N° de Página</b></td>
  </tr>
</table>
