<div>
  <!-- <input type="date" class="form-control" ng-model="act.fecha" > -->
  <span>Fecha: </span>
  <span class="form-control" moment-picker="act.fecha" format="YYYY-MM-DD" startView="day" min-date="minDate">{{act.fecha|fecha:'middle'}}</span>
</div>
<div>
  <span>Hora: </span>
  <input type="text" class="form-control" ng-model="act.hora" >
</div>
<!-- <div moment-picker="act.hora" format="HH:mm" minView="hour" maxView="minute">
      <span>Hora: </span>
      <input class="form-control" ng-model="act.hora" ng-model-options="{ updateOn: 'blur' }">
    </div> -->
<div>
  <div>Empresa: </div>
  <input type="text" class="form-control" ng-model="act.empresa" onkeypress="return soloLetras(event)">
</div>
<div>
  <div>Objetivo: </div>
  <textarea class="form-control" rows="2" ng-model="act.objetivo" onkeypress="return soloLetras(event)"></textarea>
</div>
<div>
  <div>Asignatura: </div>
  <textarea class="form-control" rows="3" ng-model="act.asignatura" onkeypress="return soloLetras(event)"></textarea>
</div>
<div>
  <div>Responsable: </div>
  <input type="text" class="form-control" ng-model="act.responsable" onkeypress="return soloLetras(event)">
</div>
