<encabezado-directiva datos="datos"></encabezado-directiva>
<br>
<div class="mb-3">
  <p class="texto-normal"><b>NOMBRE DEL TUTOR:</b> {{datos.tutor.nombreCompleto | uppercase}}
    <br><b>PROGRAMA EDUCATIVO:</b> {{datos.tutor.carrera.carrera | uppercase}}
    <br><b>CUATRIMESTRE:</b> {{datos.cuatrimestre | uppercase}}
    <br><b>GRUPO TUTORADO:</b> {{datos.tutor.grupo.grupo}}
    <br><b>TIEMPO DEDICADO A TUTORIAS AL CUATRIMESTRE:</b> Horas a la semana: {{datos.horasSemana}}    Horas por parcial: {{datos.horasParcial}}
    <br><b>OBJETIVO GENERAL DE TUTORÍAS:</b> {{datos.objetivo| uppercase }}</p>
</div>
<table class="texto-normal"  bgcolor="#BDBDBD" border="1" width="100%">
  <tr align="center">
    <td width="20%" ><b>FECHAS / HRS ASIGNADAS POR TEMA O ACTIVIDAD A DESARROLLAR</b></td>
    <td width="20%" ><b>TEMA / ACTIVIDAD A DESARROLLAR</b></td>
    <td width="20%" ><b>RESULTADOS A ALCANZAR</b></td>
    <td width="20%" ><b>RECURSOS MATERIALES</b></td>
    <td width="20%" ><b>RECURSOS DIDÁCTICOS</b></td>
  </tr>
</table>
<!-- {{datos.actividades}} -->
<div ng-repeat="act in datos.actividades">
  <table class="texto-normal" border="1" width="100%">
    <tr>
      <td width="20%" align="center">{{act.fechaHoras}}</td>
      <td width="20%">{{act.actividad}}</td>
      <td width="20%">{{act.resultados}}</td>
      <td width="20%">{{act.recursosMateriales}}</td>
      <td width="20%">{{act.recursosDidacticos}}</td>
    </tr>
  </table>
</div>
