<encabezado-directiva datos="datos"></encabezado-directiva>
<br>
<div class="mb-3">
  <p class="texto-normal">FECHA: {{datos.fechaExpedicion | fecha:'middle'}}</p>
  <p class="texto-normal" align="justify">El  presente  instrumento  tiene  como  objetivo  permitirle  reflexionar  sobre  su  desempeño  como  tutor  (a)  y rescatar  información  de  importancia  para  la  Dirección  Académica,  con  el  propósito  de  mejorar  la implementación del Plan de Acción Tutorial y el Programa Institucional de Tutorías.</p>
  <p class="texto-normal" align="justify"><b>Instrucciones:</b>  A  continuación  aparecen  una  serie  de  preguntas  relacionadas  con  la  planificación, organización y ejecución de la Acción Tutorial en la que usted ha participado. Marque con un (x) la casilla que usted considere correcta de acuerdo a su desempeño.</p>
</div>
<table class="texto-normal" border="1" width="100%">
  <thead>
    <tr align="center">
      <td width="35%" rowspan="2"><b>INDICADORES DE LA EVALUACIÓN</b></td>
      <td width="40%" colspan="4"><b>CRITERIOS</b></td>
      <td width="25%" rowspan="2"><b>COMENTARIOS</b></td>
    </tr>
    <tr align="center" bgcolor="#BDBDBD">
      <td width="10%" ><b>SIEMPRE</b></td>
      <td width="10%" ><b>CASI SIEMPRE</b></td>
      <td width="10%" ><b>CASI NUNCA</b></td>
      <td width="10%" ><b>NUNCA</b></td>
    </tr>
  </thead>
  <tr align="center">
    <td colspan="6"><b>PUNTUALIDAD Y ASISTENCIA</b></td>
  </tr>
  <tr>
    <td>1. ¿Asistí puntualmente a las sesiones de tutoría?</td>
    <td align="center"><span ng-if="datos.preguntas[0].respuesta==='[4]'">{{datos.preguntas[0].respuesta}}</span><span ng-if="datos.preguntas[0].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[0].respuesta==='[3]'">{{datos.preguntas[0].respuesta}}</span><span ng-if="datos.preguntas[0].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[0].respuesta==='[2]'">{{datos.preguntas[0].respuesta}}</span><span ng-if="datos.preguntas[0].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[0].respuesta==='[1]'">{{datos.preguntas[0].respuesta}}</span><span ng-if="datos.preguntas[0].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[0].comentarios}}</td>
  </tr>
  <tr>
    <td>2. ¿Respeté los horarios asignados a la tutoría?</td>
    <td align="center"><span ng-if="datos.preguntas[1].respuesta==='[4]'">{{datos.preguntas[1].respuesta}}</span><span ng-if="datos.preguntas[1].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[1].respuesta==='[3]'">{{datos.preguntas[1].respuesta}}</span><span ng-if="datos.preguntas[1].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[1].respuesta==='[2]'">{{datos.preguntas[1].respuesta}}</span><span ng-if="datos.preguntas[1].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[1].respuesta==='[1]'">{{datos.preguntas[1].respuesta}}</span><span ng-if="datos.preguntas[1].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[1].comentarios}}</td>
  </tr>
  <tr>
    <td>3. ¿Las y los tutorados me podrían localizar facilmente?</td>
    <td align="center"><span ng-if="datos.preguntas[2].respuesta==='[4]'">{{datos.preguntas[2].respuesta}}</span><span ng-if="datos.preguntas[2].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[2].respuesta==='[3]'">{{datos.preguntas[2].respuesta}}</span><span ng-if="datos.preguntas[2].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[2].respuesta==='[2]'">{{datos.preguntas[2].respuesta}}</span><span ng-if="datos.preguntas[2].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[2].respuesta==='[1]'">{{datos.preguntas[2].respuesta}}</span><span ng-if="datos.preguntas[2].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[2].comentarios}}</td>
  </tr>
  <tr align="center">
    <td colspan="6"><b>DOCUMENTOS INSTITUCIONALES</b></td>
  </tr>
  <tr>
    <td>4. ¿Conozco cómo funciona el Modelo Académico de las UUTT?</td>
    <td align="center"><span ng-if="datos.preguntas[3].respuesta==='[4]'">{{datos.preguntas[3].respuesta}}</span><span ng-if="datos.preguntas[3].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[3].respuesta==='[3]'">{{datos.preguntas[3].respuesta}}</span><span ng-if="datos.preguntas[3].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[3].respuesta==='[2]'">{{datos.preguntas[3].respuesta}}</span><span ng-if="datos.preguntas[3].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[3].respuesta==='[1]'">{{datos.preguntas[3].respuesta}}</span><span ng-if="datos.preguntas[3].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[3].comentarios}}</td>
  </tr>
  <tr>
    <td>5. ¿Conozco los reglamentos vigentes de la UTVCO?</td>
    <td align="center"><span ng-if="datos.preguntas[4].respuesta==='[4]'">{{datos.preguntas[4].respuesta}}</span><span ng-if="datos.preguntas[4].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[4].respuesta==='[3]'">{{datos.preguntas[4].respuesta}}</span><span ng-if="datos.preguntas[4].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[4].respuesta==='[2]'">{{datos.preguntas[4].respuesta}}</span><span ng-if="datos.preguntas[4].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[4].respuesta==='[1]'">{{datos.preguntas[4].respuesta}}</span><span ng-if="datos.preguntas[4].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[4].comentarios}}</td>
  </tr>
  <tr align="center">
    <td colspan="6"><b>FUNCIONES EN LA ACCIÓN TUTORIAL</b></td>
  </tr>
  <tr>
    <td>6. Tengo suficiente claridad respecto de las características de la acción tutorial y de sus estrategias:</td>
    <td align="center"><span ng-if="datos.preguntas[5].respuesta==='[4]'">{{datos.preguntas[5].respuesta}}</span><span ng-if="datos.preguntas[5].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[5].respuesta==='[3]'">{{datos.preguntas[5].respuesta}}</span><span ng-if="datos.preguntas[5].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[5].respuesta==='[2]'">{{datos.preguntas[5].respuesta}}</span><span ng-if="datos.preguntas[5].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[5].respuesta==='[1]'">{{datos.preguntas[5].respuesta}}</span><span ng-if="datos.preguntas[5].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[5].comentarios}}</td>
  </tr>
  <tr>
    <td>7. Me cuesta trabajo abordar ciertos problemas con los y las estudiantes: sexualidad, adicciones, violencia, etc.:</td>
    <td align="center"><span ng-if="datos.preguntas[6].respuesta==='[4]'">{{datos.preguntas[6].respuesta}}</span><span ng-if="datos.preguntas[6].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[6].respuesta==='[3]'">{{datos.preguntas[6].respuesta}}</span><span ng-if="datos.preguntas[6].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[6].respuesta==='[2]'">{{datos.preguntas[6].respuesta}}</span><span ng-if="datos.preguntas[6].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[6].respuesta==='[1]'">{{datos.preguntas[6].respuesta}}</span><span ng-if="datos.preguntas[6].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[6].comentarios}}</td>
  </tr>
  <tr>
    <td>8. Canalicé adecuadamente a los tutorados que presentaban problemas académicos o personales que yo no podía resolver:</td>
    <td align="center"><span ng-if="datos.preguntas[7].respuesta==='[4]'">{{datos.preguntas[7].respuesta}}</span><span ng-if="datos.preguntas[7].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[7].respuesta==='[3]'">{{datos.preguntas[7].respuesta}}</span><span ng-if="datos.preguntas[7].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[7].respuesta==='[2]'">{{datos.preguntas[7].respuesta}}</span><span ng-if="datos.preguntas[7].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[7].respuesta==='[1]'">{{datos.preguntas[7].respuesta}}</span><span ng-if="datos.preguntas[7].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[7].comentarios}}</td>
  </tr>
  <tr>
    <td>9. Escuché a las y los tutorados y generé un clima de confianza:</td>
    <td align="center"><span ng-if="datos.preguntas[8].respuesta==='[4]'">{{datos.preguntas[8].respuesta}}</span><span ng-if="datos.preguntas[8].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[8].respuesta==='[3]'">{{datos.preguntas[8].respuesta}}</span><span ng-if="datos.preguntas[8].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[8].respuesta==='[2]'">{{datos.preguntas[8].respuesta}}</span><span ng-if="datos.preguntas[8].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[8].respuesta==='[1]'">{{datos.preguntas[8].respuesta}}</span><span ng-if="datos.preguntas[8].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[8].comentarios}}</td>
  </tr>
  <tr>
    <td>10. Fui empático a las consultas que me hicieron mis tutorados:</td>
    <td align="center"><span ng-if="datos.preguntas[9].respuesta==='[4]'">{{datos.preguntas[9].respuesta}}</span><span ng-if="datos.preguntas[9].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[9].respuesta==='[3]'">{{datos.preguntas[9].respuesta}}</span><span ng-if="datos.preguntas[9].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[9].respuesta==='[2]'">{{datos.preguntas[9].respuesta}}</span><span ng-if="datos.preguntas[9].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[9].respuesta==='[1]'">{{datos.preguntas[9].respuesta}}</span><span ng-if="datos.preguntas[9].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[9].comentarios}}</td>
  </tr>
  <tr>
    <td>11. Motivé la asistencia a las sesiones de tutoría:</td>
    <td align="center"><span ng-if="datos.preguntas[10].respuesta==='[4]'">{{datos.preguntas[10].respuesta}}</span><span ng-if="datos.preguntas[10].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[10].respuesta==='[3]'">{{datos.preguntas[10].respuesta}}</span><span ng-if="datos.preguntas[10].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[10].respuesta==='[2]'">{{datos.preguntas[10].respuesta}}</span><span ng-if="datos.preguntas[10].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[10].respuesta==='[1]'">{{datos.preguntas[10].respuesta}}</span><span ng-if="datos.preguntas[10].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[10].comentarios}}</td>
  </tr>
</table>
