
<br>
<table class="texto-normal" border="1" width="100%">
<thead>
  <tr>
    <td width="35%">12. Realicé actividades de tutoría interesantes para el tutorado:</td>
    <td align="center"><span ng-if="datos.preguntas[11].respuesta==='[4]'">{{datos.preguntas[11].respuesta}}</span><span ng-if="datos.preguntas[11].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[11].respuesta==='[3]'">{{datos.preguntas[11].respuesta}}</span><span ng-if="datos.preguntas[11].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[11].respuesta==='[2]'">{{datos.preguntas[11].respuesta}}</span><span ng-if="datos.preguntas[11].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[11].respuesta==='[1]'">{{datos.preguntas[11].respuesta}}</span><span ng-if="datos.preguntas[11].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[11].comentarios}}</td>
  </tr>
</thead>
  <tr>
    <td>13.  Apoyé a mis tutorados a definir metas personales:</td>
    <td align="center"><span ng-if="datos.preguntas[12].respuesta==='[4]'">{{datos.preguntas[12].respuesta}}</span><span ng-if="datos.preguntas[12].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[12].respuesta==='[3]'">{{datos.preguntas[12].respuesta}}</span><span ng-if="datos.preguntas[12].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[12].respuesta==='[2]'">{{datos.preguntas[12].respuesta}}</span><span ng-if="datos.preguntas[12].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[12].respuesta==='[1]'">{{datos.preguntas[12].respuesta}}</span><span ng-if="datos.preguntas[12].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[12].comentarios}}</td>
  </tr>
  <tr>
    <td>14. Ayudé al tutorado a reconocer sus fortalezas y debilidades como estudiante:</td>
    <td align="center"><span ng-if="datos.preguntas[13].respuesta==='[4]'">{{datos.preguntas[13].respuesta}}</span><span ng-if="datos.preguntas[13].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[13].respuesta==='[3]'">{{datos.preguntas[13].respuesta}}</span><span ng-if="datos.preguntas[13].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[13].respuesta==='[2]'">{{datos.preguntas[13].respuesta}}</span><span ng-if="datos.preguntas[13].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[13].respuesta==='[1]'">{{datos.preguntas[13].respuesta}}</span><span ng-if="datos.preguntas[13].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[13].comentarios}}</td>
  </tr>
  <tr align="center">
    <td colspan="6"><b>PLANEACIÓN Y SEGUIMIENTO DE LA ACCIÓN TUTORIAL</b></td>
  </tr>
  <tr>
    <td>15.  Realicé un diagnóstico de necesidades específicas mis tutorados altamente vulnerables:</td>
    <td align="center"><span ng-if="datos.preguntas[14].respuesta==='[4]'">{{datos.preguntas[14].respuesta}}</span><span ng-if="datos.preguntas[14].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[14].respuesta==='[3]'">{{datos.preguntas[14].respuesta}}</span><span ng-if="datos.preguntas[14].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[14].respuesta==='[2]'">{{datos.preguntas[14].respuesta}}</span><span ng-if="datos.preguntas[14].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[14].respuesta==='[1]'">{{datos.preguntas[14].respuesta}}</span><span ng-if="datos.preguntas[14].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[14].comentarios}}</td>
  </tr>
  <tr>
    <td>16. Realicé mi planeación individual y cuatrimestral:</td>
    <td align="center"><span ng-if="datos.preguntas[15].respuesta==='[4]'">{{datos.preguntas[15].respuesta}}</span><span ng-if="datos.preguntas[15].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[15].respuesta==='[3]'">{{datos.preguntas[15].respuesta}}</span><span ng-if="datos.preguntas[15].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[15].respuesta==='[2]'">{{datos.preguntas[15].respuesta}}</span><span ng-if="datos.preguntas[15].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[15].respuesta==='[1]'">{{datos.preguntas[15].respuesta}}</span><span ng-if="datos.preguntas[15].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[15].comentarios}}</td>
  </tr>
  <tr>
    <td>17.  Realicé el seguimiento y evaluación de las actividades tutoriales:</td>
    <td align="center"><span ng-if="datos.preguntas[16].respuesta==='[4]'">{{datos.preguntas[16].respuesta}}</span><span ng-if="datos.preguntas[16].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[16].respuesta==='[3]'">{{datos.preguntas[16].respuesta}}</span><span ng-if="datos.preguntas[16].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[16].respuesta==='[2]'">{{datos.preguntas[16].respuesta}}</span><span ng-if="datos.preguntas[16].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[16].respuesta==='[1]'">{{datos.preguntas[16].respuesta}}</span><span ng-if="datos.preguntas[16].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[16].comentarios}}</td>
  </tr>
  <tr>
    <td>18. Generé reportes y evidencias de las actividades tutoriales:</td>
    <td align="center"><span ng-if="datos.preguntas[17].respuesta==='[4]'">{{datos.preguntas[17].respuesta}}</span><span ng-if="datos.preguntas[17].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[17].respuesta==='[3]'">{{datos.preguntas[17].respuesta}}</span><span ng-if="datos.preguntas[17].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[17].respuesta==='[2]'">{{datos.preguntas[17].respuesta}}</span><span ng-if="datos.preguntas[17].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[17].respuesta==='[1]'">{{datos.preguntas[17].respuesta}}</span><span ng-if="datos.preguntas[17].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[17].comentarios}}</td>
  </tr>
  <tr>
    <td>19. Mi trabajo tutorial tiene un impacto positivo en el desempeño de mis tutorados:</td>
    <td align="center"><span ng-if="datos.preguntas[18].respuesta==='[4]'">{{datos.preguntas[18].respuesta}}</span><span ng-if="datos.preguntas[18].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[18].respuesta==='[3]'">{{datos.preguntas[18].respuesta}}</span><span ng-if="datos.preguntas[18].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[18].respuesta==='[2]'">{{datos.preguntas[18].respuesta}}</span><span ng-if="datos.preguntas[18].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[18].respuesta==='[1]'">{{datos.preguntas[18].respuesta}}</span><span ng-if="datos.preguntas[18].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[18].comentarios}}</td>
  </tr>
  <tr align="center">
    <td colspan="6"><b>CAPACITACIÓN</b></td>
  </tr>
  <tr>
    <td>20. Me encuentro motivado para ser tutor o tutora:</td>
    <td align="center"><span ng-if="datos.preguntas[19].respuesta==='[4]'">{{datos.preguntas[19].respuesta}}</span><span ng-if="datos.preguntas[19].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[19].respuesta==='[3]'">{{datos.preguntas[19].respuesta}}</span><span ng-if="datos.preguntas[19].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[19].respuesta==='[2]'">{{datos.preguntas[19].respuesta}}</span><span ng-if="datos.preguntas[19].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[19].respuesta==='[1]'">{{datos.preguntas[19].respuesta}}</span><span ng-if="datos.preguntas[19].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[19].comentarios}}</td>
  </tr>
  <tr>
    <td>21. Los contenidos de las capacitaciones, me brindaron los elementos suficientes para mi desempeño como tutor(a): </td>
    <td align="center"><span ng-if="datos.preguntas[20].respuesta==='[4]'">{{datos.preguntas[20].respuesta}}</span><span ng-if="datos.preguntas[20].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[20].respuesta==='[3]'">{{datos.preguntas[20].respuesta}}</span><span ng-if="datos.preguntas[20].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[20].respuesta==='[2]'">{{datos.preguntas[20].respuesta}}</span><span ng-if="datos.preguntas[20].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[20].respuesta==='[1]'">{{datos.preguntas[20].respuesta}}</span><span ng-if="datos.preguntas[20].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[20].comentarios}}</td>
  </tr>
  <tr align="center">
    <td colspan="6"><b>FUNCIONES EN LA ACCIÓN TUTORIAL</b></td>
  </tr>
  <tr>
    <td>22. Tengo suficiente claridad respecto de las características de la acción tutorial y de sus estrategias:</td>
    <td align="center"><span ng-if="datos.preguntas[21].respuesta==='[4]'">{{datos.preguntas[21].respuesta}}</span><span ng-if="datos.preguntas[21].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[21].respuesta==='[3]'">{{datos.preguntas[21].respuesta}}</span><span ng-if="datos.preguntas[21].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[21].respuesta==='[2]'">{{datos.preguntas[21].respuesta}}</span><span ng-if="datos.preguntas[21].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[21].respuesta==='[1]'">{{datos.preguntas[21].respuesta}}</span><span ng-if="datos.preguntas[21].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[21].comentarios}}</td>
  </tr>
  <tr>
    <td>23. Considero necesaria actualización y capacitación para realizar mi actividad tutorial:</td>
    <td align="center"><span ng-if="datos.preguntas[22].respuesta==='[4]'">{{datos.preguntas[22].respuesta}}</span><span ng-if="datos.preguntas[22].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[22].respuesta==='[3]'">{{datos.preguntas[22].respuesta}}</span><span ng-if="datos.preguntas[22].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[22].respuesta==='[2]'">{{datos.preguntas[22].respuesta}}</span><span ng-if="datos.preguntas[22].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[22].respuesta==='[1]'">{{datos.preguntas[22].respuesta}}</span><span ng-if="datos.preguntas[22].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[22].comentarios}}</td>
  </tr>
  <tr>
    <td>24. Considero que el Programa Institucional de Tutorías ha mejorado el desempeño académico de mis tutorados(as):</td>
    <td align="center"><span ng-if="datos.preguntas[23].respuesta==='[4]'">{{datos.preguntas[23].respuesta}}</span><span ng-if="datos.preguntas[23].respuesta!=='[4]'">4</span></td>
    <td align="center"><span ng-if="datos.preguntas[23].respuesta==='[3]'">{{datos.preguntas[23].respuesta}}</span><span ng-if="datos.preguntas[23].respuesta!=='[3]'">3</span></td>
    <td align="center"><span ng-if="datos.preguntas[23].respuesta==='[2]'">{{datos.preguntas[23].respuesta}}</span><span ng-if="datos.preguntas[23].respuesta!=='[2]'">2</span></td>
    <td align="center"><span ng-if="datos.preguntas[23].respuesta==='[1]'">{{datos.preguntas[23].respuesta}}</span><span ng-if="datos.preguntas[23].respuesta!=='[1]'">1</span></td>
    <td>{{datos.preguntas[23].comentarios}}</td>
  </tr>
</table>
