<div class="container" ng-show="listaDocumentos">
  <div class="row separado">
    <div class="col-xs-12 col-md-12">
      <h4 class="titulos">Programa de Visitas</h4>
    </div>
  </div><div class="jumbotron" style="background-color:#04B45F;" ng-show="programas.length===0">
    <h1 align="center">No Hay Formatos Registrados</h1>
  </div>
  <div class="row separado" ng-show="programas.length>0">
    <div class="col-xs-12 col-md-12 table-responsive">
      <table class="table table-striped table-hover table-condensed mayusculas">
        <thead>
          <tr align="center">
            <th ng-click="ordenado='id_formato'">Folio</th>
            <th ng-click="ordenado='fechaExpedicion'">Fecha de creación</th>
            <th ng-click="ordenado='id_tutor'">Tutor</th>
            <th ng-click="ordenado='id_carrera'">Carrera</th>
            <th ng-click="ordenado='id_grupo'">Grupo</th>
            <th ng-click="ordenado='estatus'">Estatus</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="documento in programas | orderBy: ordenado | startFromGrid: currentPage * pageSize | limitTo: pageSize" align="center">
            <td class="text-center">{{documento.id_formato}}</td>
            <td>{{documento.fechaExpedicion|fecha}}</td>
            <td>{{documento.id_tutor|nombreTutor:docentes}}</td>
            <td>{{documento.id_carrera|nombreCarrera:carreras}}</td>
            <td>{{documento.id_grupo|nombreGrupo:grupos}}</td>
            <td>{{documento.estatus|estado}}</td>
            <td>
              <button ng-click="verDocumento(documento)" class="btn btn-info btn-sm">
                <i class="fas fa-eye" aria-hidden></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
      <div class='btn-group'>
        <button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
        <button type='button' class='btn btn-default' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
        <button type='button' class='btn btn-default' ng-disabled='currentPage >= programas.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>
      </div>
  </div>
</div>
<!--
██████   ██████   ██████ ██    ██ ███    ███ ███████ ███    ██ ████████  ██████
██   ██ ██    ██ ██      ██    ██ ████  ████ ██      ████   ██    ██    ██    ██
██   ██ ██    ██ ██      ██    ██ ██ ████ ██ █████   ██ ██  ██    ██    ██    ██
██   ██ ██    ██ ██      ██    ██ ██  ██  ██ ██      ██  ██ ██    ██    ██    ██
██████   ██████   ██████  ██████  ██      ██ ███████ ██   ████    ██     ██████
-->
<div class="container" ng-show="showDocumento">
  <div class="row separado">
    <div class="col-xs-12 col-md-12">
      <h4 class="titulos">Programa de Visitas
        <button type="button" class="btn btn-sm btn-warning" ng-click="showDocumento=false;listaDocumentos=true">
          <i class="fas fa-angle-double-left"></i>
        </button>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 order-md-2 hoja-tramite">
      <povi-directiva datos="datos"></povi-directiva>
    </div>
    <div class="col-md-4 order-md-1 mb-4">
      <button class="btn btn-primary" ng-click="aceptarDocumento()" ng-show="(datos.estatus===1 && main.usuario.tipo===3) || (datos.estatus===2 && main.usuario.tipo===2)">
        <span ng-show="datos.estatus===1">Validar Revisión</span>
        <span ng-show="datos.estatus===2">Vo. Bo.</span>
      </button>
      <button class="btn btn-danger" ng-click="rechazarDocumento()" ng-show="datos.estatus===1 && main.usuario.tipo===3">
        Rechazar Revisión
      </button>
      <button class="btn btn-default" ng-click="imprimir()" ng-show="datos.estatus===3 && (main.usuario.tipo===2 || main.usuario.tipo===3)">
        <i class="fas fa-print"></i>Imprimir
      </button>
    </div>
  </div>
</div>
