<encabezado-directiva datos="datos"></encabezado-directiva>
<br>
<div class="mb-3">
  <p class="texto-normal">
    <b>CARRERA:</b> {{datos.tutor.carrera.carrera | uppercase}}
    <br><b>GRUPO:</b> {{datos.tutor.grupo.grupo}}
    <br><b>N° DE ALUMNOS:</b> {{datos.numAlumnos}}
    <br><b>TUTOR:</b> {{datos.tutor.nombreCompleto | uppercase}}
</div>
<table class="texto-normal" bgcolor="#BDBDBD" border="1" width="100%">
  <tr align="center">
    <td width="5%" ><b>N°</b></td>
    <td width="15%" ><b>FECHA</b></td>
    <td width="8%" ><b>HORA</b></td>
    <td width="19%" ><b>EMPRESA</b></td>
    <td width="19%" ><b>OBJETIVO DE LA VISITA</b></td>
    <td width="19%" ><b>ASIGNATURA QUE APOYA LA VISITA</b></td>
    <td width="19%" ><b>PROFESOR RESPONSABLE</b></td>
  </tr>
</table>
<div ng-repeat="act in datos.visitas">
  <table class="texto-normal" border="1" width="100%">
    <tr>
      <td width="5%" align="center">{{act.numero}}</td>
      <td width="15%" align="center">{{act.fecha|fecha}}</td>
      <td width="8%" align="center">{{act.hora}}</td>
      <td width="19%" align="center">{{act.empresa}}</td>
      <td width="19%">{{act.objetivo}}</td>
      <td width="19%">{{act.asignatura}}</td>
      <td width="19%" align="center">{{act.responsable}}</td>
    </tr>
  </table>
</div>
